@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "circle-light";
    src: url("../fonts/circle-light.eot");
    src: url("../fonts/circle-light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/circle-light.woff2") format("woff"),
    url("../fonts/circle-light.ttf") format("truetype"),
    url("../fonts/circle-light.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "circle";
    src: url("../fonts/circle.eot");
    src: url("../fonts/circle.eot?#iefix")format("embedded-opentype"),
    url("../fonts/circle.woff2") format("woff"),
    url("../fonts/circle.ttf") format("truetype"),
    url("../fonts/circle.otf");
    font-style: normal;
    font-weight: normal;
}








