<div id="b-catalog" class="b-section-wrapper b-catalog bb pb60">
    <div class="b-catalog">
        <div id="b-catalog-header" class="b-catalog-header">
            <div class="b-mobile-filter"></div>
            <div class="b-container b-catalog-header__container">
                <div class="b-catalog-header__open">
                    <div class="b-filter-open">
                        <span class="filter-open-btn" data-filter-btn="toggle">
                            <span class="hamburger pos_l">
                                <span class="hamburger__line top"></span>
                                <span class="hamburger__line middle"></span>
                                <span class="hamburger__line bottom"></span>
                            </span>
                            Фильтр
                        </span>
                    </div>
                </div>


                <div class="b-catalog-header__search-selection">
                    <div class="b-search-selection">
                        <div class="b-search-selection__item">
                            <p class="b-search-selection__title">я ищу:</p>
                        </div>
                        <div class="b-search-selection__item">
                            <input class="b-search-selection__radio-input" type="radio" name="search-selection">
                            <p class="b-search-selection__item-text">Для себя</p>
                        </div>
                        <div class="b-search-selection__item">
                            <input class="b-search-selection__radio-input" type="radio" name="search-selection">
                            <p class="b-search-selection__item-text">В подарок</p>
                        </div>
                    </div>
                </div>

                <div class="b-catalog-header__sequence-selection">
                    <select class='select'>
                        <option >Сначала популярные</option>
                        <option >Сначала дешевое</option>
                        <option >Сначала дорогое</option>
                        <option >Сначала не популярное</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="b-catalog-body" class="b-catalog-body">
            <div id="b-fix-filter" class="b-catalog-body-header">
                <div class="b-container">
                    <form class="b-catalog-body__filter">
                        <div class="b-changing">
                            <div class="b-changing__item">
                                <div class="b-filter-select">
                                    <div class="b-filter-select__name">Вид</div>
                                    <div class="b-filter-select__dropdown">
                                        <ul class="b-nesting">
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Золото</span>
                                                    </label>
                                                </div>
                                                <ul class="b-nesting__list">
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Красное</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Желтое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Белое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Мультицвет</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Платина</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Серебро</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="b-changing__item">
                                <div class="b-filter-select selected">
                                    <div class="b-filter-select__name">Металл: Золото</div>
                                    <div class="b-filter-select__close">
                                        <span class="b-filter-select__cross"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="b-changing__item">
                                <div class="b-filter-select selected">
                                    <div class="b-filter-select__name">4 вставки</div>
                                    <div class="b-filter-select__close">
                                        <span class="b-filter-select__cross"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="b-changing__item">
                                <div class="b-filter-select">
                                    <div class="b-filter-select__name">Цена</div>
                                    <div class="b-filter-select__dropdown">
                                        <ul class="b-nesting">
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Золото</span>
                                                    </label>
                                                </div>
                                                <ul class="b-nesting__list">
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Красное</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Желтое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Белое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Мультицвет</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Платина</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Серебро</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="b-changing__item tablet-hidden">
                                <div class="b-filter-select">
                                    <div class="b-filter-select__name">Скидка</div>
                                    <div class="b-filter-select__dropdown">
                                        <ul class="b-nesting">
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Золото</span>
                                                    </label>
                                                </div>
                                                <ul class="b-nesting__list">
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Красное</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Желтое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Белое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Мультицвет</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Платина</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Серебро</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="b-changing__item tablet-hidden">
                                <div class="b-filter-select">
                                    <div class="b-filter-select__name">Наличие</div>
                                    <div class="b-filter-select__dropdown">
                                        <ul class="b-nesting">
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Золото</span>
                                                    </label>
                                                </div>
                                                <ul class="b-nesting__list">
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Красное</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Желтое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Белое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Мультицвет</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Платина</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Серебро</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="b-changing__item hidden">
                                <div class="b-filter-select">
                                    <div class="b-filter-select__name">Вид</div>
                                    <div class="b-filter-select__dropdown">
                                        <ul class="b-nesting">
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Золото</span>
                                                    </label>
                                                </div>
                                                <ul class="b-nesting__list">
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Красное</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Желтое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Белое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Мультицвет</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Платина</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Серебро</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="b-changing__item hidden">
                                <div class="b-filter-select">
                                    <div class="b-filter-select__name">Вид</div>
                                    <div class="b-filter-select__dropdown">
                                        <ul class="b-nesting">
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Золото</span>
                                                    </label>
                                                </div>
                                                <ul class="b-nesting__list">
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Красное</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Желтое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Белое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Мультицвет</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Платина</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Серебро</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="b-changing__item hidden">
                                <div class="b-filter-select">
                                    <div class="b-filter-select__name">Вид</div>
                                    <div class="b-filter-select__dropdown">
                                        <ul class="b-nesting">
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Золото</span>
                                                    </label>
                                                </div>
                                                <ul class="b-nesting__list">
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Красное</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Желтое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Белое</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-nesting__list__item">
                                                        <label class="b-filter-label">
                                                            <input type="checkbox" class="filter-checkbox">
                                                            <span class='b-filter-label__text'>Мультицвет</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Платина</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class='b-nesting__item'>
                                                <div class='b-nesting__item-content'>
                                                    <label class="b-filter-label">
                                                        <input name="1" type="radio" class="filter-radio">
                                                        <span class='b-filter-label__text'>Серебро</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="b-changing__item">
                                <span class="b-changing__more-btn filter-height-btn accordion-toggle">
                                    <span class="text_default">Еще...</span>
                                    <span class="text_active">Скрыть</span>
                                </span>
                            </div>

                        </div>

                        <button type="reset" class="clear-filters-btn">Очистить фильтры</button>
                    </form>

                </div>
            </div>
            <div class="b-catalog-body-content">
                <div class="b-container rel">
                    <div id="b-sidebar-filter" class="b-sidebar-filter">
                        <div class="b-sidebar-filter__mobile-content">
                            <ul class="b-selects-list">
                                <li class="b-selects-list__item clearfix">
                                    <span class="b-selects-list__item__name">Тип товара</span>
                                    <select class="b-selects-list__item__select">
                                        <option>Значение 1</option>
                                        <option>Значение 2</option>
                                        <option>Значение 3</option>
                                        <option>Значение 4</option>
                                    </select>
                                </li>
                                <li class="b-selects-list__item clearfix">
                                    <span class="b-selects-list__item__name">Вид украшения</span>
                                    <select class="b-selects-list__item__select">
                                        <option>Значение 1</option>
                                        <option>Значение 2</option>
                                        <option>Значение 3</option>
                                        <option>Значение 4</option>
                                    </select>
                                </li>
                                <li class="b-selects-list__item clearfix">
                                    <span class="b-selects-list__item__name">Металл</span>
                                    <select class="b-selects-list__item__select">
                                        <option>Значение 1</option>
                                        <option>Значение 2</option>
                                        <option>Значение 3</option>
                                        <option>Значение 4</option>
                                    </select>
                                </li>
                                <li class="b-selects-list__item clearfix">
                                    <span class="b-selects-list__item__name">Вставка</span>
                                    <select class="b-selects-list__item__select">
                                        <option>Значение 1</option>
                                        <option>Значение 2</option>
                                        <option>Значение 3</option>
                                        <option>Значение 4</option>
                                    </select>
                                </li>
                                <li class="b-selects-list__item clearfix">
                                    <span class="b-selects-list__item__name">Цена</span>
                                    <select class="b-selects-list__item__select">
                                        <option>Значение 1</option>
                                        <option>Значение 2</option>
                                        <option>Значение 3</option>
                                        <option>Значение 4</option>
                                    </select>
                                </li>
                                <li class="b-selects-list__item clearfix">
                                    <span class="b-selects-list__item__name">Наличие</span>
                                    <select class="b-selects-list__item__select">
                                        <option>Значение 1</option>
                                        <option>Значение 2</option>
                                        <option>Значение 3</option>
                                        <option>Значение 4</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                        <form action="#" class="b-sidebar-filter__desctop-content">
                            <div class="b-sidebar-filter__section">
                                <ul class="b-filter-ul">
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Товар дня</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Успейте купить</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Есть скидка</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Новинки</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Есть комплект</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="b-sidebar-filter__section">
                                <p class='b-sidebar-filter__section__title'>вид украшения</p>
                                <ul class="b-filter-ul">
                                    <li class="b-filter-ul__li b-dropbox">
                                        <div class="b-dropbox__static">
                                            <label class="b-filter-label">
                                                <input name="radio1" type="radio" class="filter-radio active-black">
                                                <span class='b-filter-label__text'>Ювелирные украшения</span>
                                            </label>
                                        </div>
                                        <div class="b-dropbox__popup b-accordion-item">
                                            <div class="b-accordion-item__default">
                                                <ul class="b-filter-ul">
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Кольца</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Серьги</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Подвески и кулоны</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Цепочки</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Браслеты</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Броши</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="b-accordion-item__popup">
                                                <ul class="b-filter-ul">
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Кольца</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Серьги</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Подвески и кулоны</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Цепочки</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Браслеты</span>
                                                        </label>
                                                    </li>
                                                    <li class="b-filter-ul__li">
                                                        <label class="b-filter-label">
                                                            <input name="radio2" type="radio" class="filter-radio active-black">
                                                            <span class='b-filter-label__text'>Броши</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p class="pt5">
                                                <a class="gray-more-btn accordion-toggle" href="#">
                                                    <span class="text_default">Еще...</span>
                                                    <span class="text_active">Скрыть</span>
                                                </a>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input name="radio1" type="radio" class="filter-radio">
                                            <span class='b-filter-label__text'>Успейте купить</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input name="radio1" type="radio" class="filter-radio">
                                            <span class='b-filter-label__text'>Есть скидка</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input name="radio1" type="radio" class="filter-radio">
                                            <span class='b-filter-label__text'>Новинки</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input name="radio1" type="radio" class="filter-radio">
                                            <span class='b-filter-label__text'>Есть комплект</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="b-sidebar-filter__section">
                                <p class='b-sidebar-filter__section__title'>Металл</p>
                                <ul class="b-filter-ul">
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Золото</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Платина</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Серебро</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="b-sidebar-filter__section">
                                <p class='b-sidebar-filter__section__title'>Вставка</p>
                                <ul class="b-filter-ul">
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Золото</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Платина</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Серебро</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Новинки</span>
                                        </label>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox">
                                            <span class='b-filter-label__text'>Есть комплект</span>
                                        </label>
                                    </li>
                                </ul>
                                <p class="pt5">
                                    <a class="gray-more-btn" href="#">Еще...</a>
                                </p>
                            </div>
                            <div class="b-sidebar-filter__section">
                                <p class='b-sidebar-filter__section__title'>Цена (руб.)</p>
                                <div class="from-to">
                                    <input class="from-to__input" type="text" placeholder="от">
                                    <input class="from-to__input" type="text" placeholder="до">
                                    <button class="from-to__button"></button>
                                </div>
                            </div>
                            <div class="b-sidebar-filter__section">
                                <p class='b-sidebar-filter__section__title'>Наличие</p>
                                <ul class="b-filter-ul mb25">
                                    <li class="b-filter-ul__li">
                                        <div class="dib pr30 rel">
                                            <label class="b-filter-label">
                                                <input type="checkbox" class="filter-checkbox active-black">
                                                <span class='b-filter-label__text'>В наличии в России</span>
                                            </label>
                                            <div class="b-clarification abs_r">
                                                <span class="b-clarification__icon"></span>
                                                <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="b-filter-ul__li">
                                        <label class="b-filter-label">
                                            <input type="checkbox" class="filter-checkbox active-black">
                                            <span class='b-filter-label__text'>В наличии в Москве</span>
                                        </label>
                                    </li>
                                </ul>
                                <p class='mb10'>
                                    <button class="btn lh40 ff_cr ttu fz13 bg_y txt_white full_w tac" href="#">Применить</button>
                                </p>
                                <p class="tac">
                                    <button type="reset" class="reset-all-btn"><span class="reset-all-btn__cross"></span>Сбростить все</button>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div id="b-catalog-content" class="b-catalog-m-content">
                        <div class="b-catalog-units">
                            <div class="b-catalog-units__item">
                                <a href="#" class="b-product-item">
                                    <div class="b-product-item__preview">
                                        <img src="img/products/product-img1.jpg" alt="">
                                    </div>
                                    <p class="b-product-item__price">55 000 <span class="rouble">&#8381;</span></p>
                                    <div class="b-product-item__descr">
                                        <p>Кольцо из красного золота 585 пробы</p>
                                    </div>
                                </a>
                            </div>
                            <div class="b-catalog-units__item">
                                <a href="#" class="b-product-item">
                                    <div class="b-product-item__preview">
                                        <img src="img/products/product-img1.jpg" alt="">
                                    </div>
                                    <p class="b-product-item__price">55 000 <span class="rouble">&#8381;</span></p>
                                    <div class="b-product-item__descr">
                                        <p>Кольцо из красного золота 585 пробы</p>
                                    </div>
                                </a>
                            </div>
                            <div class="b-catalog-units__item">
                                <a href="#" class="b-product-item">
                                    <div class="b-product-item__preview">
                                        <img src="img/products/product-img1.jpg" alt="">
                                    </div>
                                    <p class="b-product-item__price">55 000 <span class="rouble">&#8381;</span></p>
                                    <div class="b-product-item__descr">
                                        <p>Кольцо из красного золота 585 пробы</p>
                                    </div>
                                </a>
                            </div>
                            <div class="b-catalog-units__item">
                                <a href="#" class="b-product-item">
                                    <div class="b-product-item__preview">
                                        <img src="img/products/product-img1.jpg" alt="">
                                    </div>
                                    <p class="b-product-item__price">55 000 <span class="rouble">&#8381;</span></p>
                                    <div class="b-product-item__descr">
                                        <p>Кольцо из красного золота 585 пробы</p>
                                    </div>
                                </a>
                            </div>
                            <div class="b-catalog-units__item">
                                <a href="#" class="b-product-item">
                                    <div class="b-product-item__preview">
                                        <img src="img/products/product-img1.jpg" alt="">
                                    </div>
                                    <p class="b-product-item__price">55 000 <span class="rouble">&#8381;</span></p>
                                    <div class="b-product-item__descr">
                                        <p>Кольцо из красного золота 585 пробы</p>
                                    </div>
                                </a>
                            </div>
                            <div class="b-catalog-units__item">
                                <a href="#" class="b-product-item">
                                    <div class="b-product-item__preview">
                                        <img src="img/products/product-img1.jpg" alt="">
                                    </div>
                                    <p class="b-product-item__price">55 000 <span class="rouble">&#8381;</span></p>
                                    <div class="b-product-item__descr">
                                        <p>Кольцо из красного золота 585 пробы</p>
                                    </div>
                                </a>
                            </div>
                            <div class="b-catalog-units__item">
                                <a href="#" class="b-product-item">
                                    <div class="b-product-item__preview">
                                        <img src="img/products/product-img1.jpg" alt="">
                                    </div>
                                    <p class="b-product-item__price">55 000 <span class="rouble">&#8381;</span></p>
                                    <div class="b-product-item__descr">
                                        <p>Кольцо из красного золота 585 пробы</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="b-pagination-wrapper tac pos_b">
                            <ul class="b-pagination dib mb35 mobile-hidden">
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">1</a>
                                </li>
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">2</a>
                                </li>
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">...</a>
                                </li>
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">5</a>
                                </li>
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">6</a>
                                </li>
                                <li class="b-pagination__item active">
                                    <a class='b-pagination__link' href="#">7</a>
                                </li>
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">8</a>
                                </li>
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">9</a>
                                </li>
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">...</a>
                                </li>
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">79</a>
                                </li>
                                <li class="b-pagination__item">
                                    <a class='b-pagination__link' href="#">80</a>
                                </li>
                            </ul>
                            <p>
                                <a class="btn lh40 white ff_cr ttu fz13" href="#">Показать еще</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>