<div class="b-full-slider b-main-slider">
    <a href="#" class="b-main-slider__item" style="background-image: url(img/slides/slide-img1.jpg)">
        <div class="b-main-slider__item-content">
            <div class="dib">
                <h2 class="b-main-slider__item-title">Моя история</h2>
                <div class="b-main-slider__item-descr">
                    <p>Каждый из нас — уникальный, ни на кого  не похожий мир.</p>
                    <p class="mobile-hidden">Создайте неповторимое украшение и расскажите о себе.</p>
                </div>
                <p class="b-main-slider__item-btn-wrapper">
                    <span class="btn lh40 ff_cr ttu fz13 bb">перейти к коллекции</span>
                </p>
            </div>
        </div>
    </a>
    <a href="#" class="b-main-slider__item" style="background-image: url(img/slides/slide-img1.jpg)">
        <div class="b-main-slider__item-content">
            <div class="dib">
                <h2 class="b-main-slider__item-title">Моя история</h2>
                <div class="b-main-slider__item-descr">
                    <p>Каждый из нас — уникальный, ни на кого  не похожий мир.</p>
                    <p class="mobile-hidden">Создайте неповторимое украшение и расскажите о себе.</p>
                </div>
                <p class="b-main-slider__item-btn-wrapper">
                    <span class="btn lh40 ff_cr ttu fz13 bb">перейти к коллекции</span>
                </p>
            </div>
        </div>
    </a>
    <a href="#" class="b-main-slider__item" style="background-image: url(img/slides/slide-img1.jpg)">
        <div class="b-main-slider__item-content">
            <div class="dib">
                <h2 class="b-main-slider__item-title">Моя история</h2>
                <div class="b-main-slider__item-descr">
                    <p>Каждый из нас — уникальный, ни на кого  не похожий мир.</p>
                    <p class="mobile-hidden">Создайте неповторимое украшение и расскажите о себе.</p>
                </div>
                <p class="b-main-slider__item-btn-wrapper">
                    <span class="btn lh40 ff_cr ttu fz13 bb">перейти к коллекции</span>
                </p>
            </div>
        </div>
    </a>
</div>