<div class="b-full-slider b-main-slider">
    <a href="#" class="b-main-slider__item" style="background-image: url(img/slides/slide-img1.jpg)">
        <div class="b-main-slider__item-content b-table">
            <div class="b-td">
                <div class="dib">
                    <h2 class="b-main-slider__item-title">Моя история</h2>
                    <div class="b-main-slider__item-descr">Каждый из нас — уникальный, ни на кого  не похожий мир. <br> Создайте неповторимое украшение и расскажите о себе.</div>
                    <p>
                        <span class="btn lh40 ff_cr ttu fz13 bb">перейти к коллекции</span>
                    </p>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="b-main-slider__item" style="background-image: url(img/slides/slide-img1.jpg)">
        <div class="b-main-slider__item-content b-table">
            <div class="b-td">
                <div class="dib">
                    <h2 class="b-main-slider__item-title">Моя история</h2>
                    <div class="b-main-slider__item-descr">Каждый из нас — уникальный, ни на кого  не похожий мир. <br> Создайте неповторимое украшение и расскажите о себе.</div>
                    <p>
                        <span class="btn lh40 ff_cr ttu fz13 bb">перейти к коллекции</span>
                    </p>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="b-main-slider__item" style="background-image: url(img/slides/slide-img1.jpg)">
        <div class="b-main-slider__item-content b-table">
            <div class="b-td">
                <div class="dib">
                    <h2 class="b-main-slider__item-title">Моя история</h2>
                    <div class="b-main-slider__item-descr">Каждый из нас — уникальный, ни на кого  не похожий мир. <br> Создайте неповторимое украшение и расскажите о себе.</div>
                    <p>
                        <span class="btn lh40 ff_cr ttu fz13 bb">перейти к коллекции</span>
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>