<div class="b-section-wrapper p13 mobile-hidden">
    <div class="b-container clearfix">
        <div class="b-main-nav-wrapper pr0 tac">
            <nav class='b-main-nav'>
                <a class="b-main-nav__item" href="#">Мир каратов <span class="more-value">3</span></a>
                <a class="b-main-nav__item" href="#">конкурсы <span class="more-value">32</span></a>
                <a class="b-main-nav__item" href="#">магазин </a>
            </nav>
        </div>
    </div>
</div>