<div class="b-section-wrapper p13">
    <div class="b-container clearfix">
        <nav class='b-main-nav f_l'>
            <a class="b-main-nav__item active" href="#">о karatov</a>
            <a class="b-main-nav__item" href="#">ювелирные украшения</a>
            <a class="b-main-nav__item" href="#">коллекции</a>
            <a class="b-main-nav__item" href="#">клуб покупателей</a>
            <a class="b-main-nav__item" href="#">где купить</a>
        </nav>
        <form action="" class='b-search f_r'>
            <input type="text" class="b-search__input">
            <button class="b-search__submit"></button>
        </form>
    </div>
</div>