<div class="b-bread-crumbs-wrapper {{ class }}">
    <div class='b-container'>
        <ul class="b-bread-crumbs clearfix">
            <li class="b-bread-crumbs__item">
                <a class="b-bread-crumbs__link" href="#">Каталог</a>
            </li>
            <li class="b-bread-crumbs__item">
                <a class="b-bread-crumbs__link" href="#">Женщинам</a>
            </li>
            <li class="b-bread-crumbs__item">
                <span class="b-bread-crumbs__link hover-hide">...</span>
                <ul class="hover-show">
                    <li class="b-bread-crumbs__item">
                        <a class="b-bread-crumbs__link" href="#">Коллекции</a>
                    </li>
                    <li class="b-bread-crumbs__item">
                        <a class="b-bread-crumbs__link" href="#">Коллекции</a>
                    </li>
                    <li class="b-bread-crumbs__item">
                        <a class="b-bread-crumbs__link" href="#">Коллекции</a>
                    </li>
                </ul>
            </li>
            <li class="b-bread-crumbs__item">
                <a class="b-bread-crumbs__link" href="#">Коллекции</a>
            </li>
            <li class="b-bread-crumbs__item">
                <a class="b-bread-crumbs__link" href="#">Императрица</a>
            </li>
        </ul>
    </div>
</div>