<div class="b-bread-crumbs-wrapper {{ class }}">
    <div class='b-containter'>
        <nav class='b-bread-crumbs clearfix'>
            <a class="b-bread-crumbs__item" href="#">Каталог</a>
            <a class="b-bread-crumbs__item" href="#">Женщинам</a>
            <a class="b-bread-crumbs__item" href="#">...</a>
            <a class="b-bread-crumbs__item" href="#">Коллекции</a>
            <a class="b-bread-crumbs__item" href="#">Императрица</a>
        </nav>
    </div>
</div>