<div class="b-section-wrapper bb b-feedbacks">
    <div class="b-container">
        <p class="b-reviews__title">
            {% if title == false %}
                {{ title }}
            {% else %}
                Что говорят наши дорогие клиенты
            {% endif %}
        </p>
        <div class="b-reviews-slider">
            <div class="b-reviews-slider__item">
                <div class="b-reviews-slider__item__photo">
                    <img src="img/photo-img1.jpg" alt="">
                </div>
                <div class="b-reviews-slider__item__content">
                    <div class="b-reviews-slider__item__descr">Купила уже три изделия за короткий срок. Качественные работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском уровне девушки тактичны, обходительны и доброжелательны.</div>
                    <p class="b-reviews-slider__item__more">— Алина, Москва</p>
                </div>
            </div>
            <div class="b-reviews-slider__item">
                <div class="b-reviews-slider__item__photo">
                </div>
                <div class="b-reviews-slider__item__content">
                    <div class="b-reviews-slider__item__descr">Купила уже три изделия за короткий срок. Качественные работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском уровне девушки тактичны, обходительны и доброжелательны.</div>
                    <p class="b-reviews-slider__item__more">— Алина, Москва</p>
                </div>
            </div>
            <div class="b-reviews-slider__item">
                <div class="b-reviews-slider__item__photo">
                    <img src="img/photo-img1.jpg" alt="">
                </div>
                <div class="b-reviews-slider__item__content">
                    <div class="b-reviews-slider__item__descr">Купила уже три изделия за короткий срок. Качественные работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском уровне девушки тактичны, обходительны и доброжелательны.</div>
                    <p class="b-reviews-slider__item__more">— Алина, Москва</p>
                </div>
            </div>
        </div>
        <p class="tac">
            <a class="btn lh40 white ff_cr ttu fz13 m7" href="#">все отзывы</a>
            {% if add_review == true %}
                <a class="btn lh40 ff_cr ttu fz13 m7 add-review" href="#">Добавить отзыв</a>
            {% endif %}
        </p>
    </div>
</div>