<div class='b-product-slider browsing'>
    <div class="b-product-slider__item">
        <div class="b-product-item">
            <div class="b-product-infographics">
                <div class="b-product-infographics__item diamond26px f_l"></div>
                <div class="b-product-infographics__item hit30px f_r"></div>
                <div class="b-product-infographics__item check30px f_r"></div>
            </div>
            <div class='b-fade-slider'>
                <div class='b-fade-slider__slides'>
                    <div class="b-fade-slider__slide active" data-fade-slide="1">
                        <img src="img/products/product-img1.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="2">
                        <img src="img/products/product-img2.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="3">
                        <img src="img/products/product-img3.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="4">
                        <img src="img/products/product-img4.jpg" alt="">
                    </div>
                </div>
                <ul class='b-fade-slider__nav clearfix'>
                    <li class="b-fade-slider__nav-item active" data-fade-nav="1"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="2"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="3"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="4"></li>
                </ul>
            </div>
            <div class='b-product-item__content'>
                <div class='b-product-item__price'>55 000 р</div>
                <div class='b-product-item__descr'>Кольцо с раухтопазом, фианитами</div>
                <p class="mb15">
                    <a class="btn lh40 ff_cr ttu fz13 bg_y txt_white" href="#">Где купить</a>
                </p>
                <p>
                    <a class="save-product-btn" href="#">
                        <span class="icon normal"></span>
                        <span class="icon hover"></span>
                        <span class="text normal">Сохранить</span>
                        <span class="text active">Сохранено</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="b-product-slider__item">
        <div class="b-product-item">
            <div class='b-fade-slider'>
                <div class='b-fade-slider__slides'>
                    <div class="b-fade-slider__slide active" data-fade-slide="1">
                        <img src="img/products/product-img1.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="2">
                        <img src="img/products/product-img2.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="3">
                        <img src="img/products/product-img3.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="4">
                        <img src="img/products/product-img4.jpg" alt="">
                    </div>
                </div>
                <ul class='b-fade-slider__nav clearfix'>
                    <li class="b-fade-slider__nav-item active" data-fade-nav="1"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="2"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="3"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="4"></li>
                </ul>
            </div>
            <div class='b-product-item__content'>
                <div class='b-product-item__price'>55 000 р</div>
                <div class='b-product-item__descr'>Кольцо с раухтопазом, фианитами</div>
                <p class="mb15">
                    <a class="btn lh40 ff_cr ttu fz13 bg_y txt_white" href="#">Где купить</a>
                </p>
                <p>
                    <a class="save-product-btn" href="#">
                        <span class="icon normal"></span>
                        <span class="icon hover"></span>
                        <span class="text normal">Сохранить</span>
                        <span class="text active">Сохранено</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="b-product-slider__item">
        <div class="b-product-item">
            <div class='b-fade-slider'>
                <div class='b-fade-slider__slides'>
                    <div class="b-fade-slider__slide active" data-fade-slide="1">
                        <img src="img/products/product-img1.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="2">
                        <img src="img/products/product-img2.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="3">
                        <img src="img/products/product-img3.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="4">
                        <img src="img/products/product-img4.jpg" alt="">
                    </div>
                </div>
                <ul class='b-fade-slider__nav clearfix'>
                    <li class="b-fade-slider__nav-item active" data-fade-nav="1"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="2"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="3"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="4"></li>
                </ul>
            </div>
            <div class='b-product-item__content'>
                <div class='b-product-item__price'>55 000 р</div>
                <div class='b-product-item__descr'>Кольцо с раухтопазом, фианитами</div>
                <p class="mb15">
                    <a class="btn lh40 ff_cr ttu fz13 bg_y txt_white" href="#">Где купить</a>
                </p>
                <p>
                    <a class="save-product-btn" href="#">
                        <span class="icon normal"></span>
                        <span class="icon hover"></span>
                        <span class="text normal">Сохранить</span>
                        <span class="text active">Сохранено</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="b-product-slider__item">
        <div class="b-product-item">
            <div class='b-fade-slider'>
                <div class='b-fade-slider__slides'>
                    <div class="b-fade-slider__slide active" data-fade-slide="1">
                        <img src="img/products/product-img1.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="2">
                        <img src="img/products/product-img2.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="3">
                        <img src="img/products/product-img3.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="4">
                        <img src="img/products/product-img4.jpg" alt="">
                    </div>
                </div>
                <ul class='b-fade-slider__nav clearfix'>
                    <li class="b-fade-slider__nav-item active" data-fade-nav="1"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="2"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="3"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="4"></li>
                </ul>
            </div>
            <div class='b-product-item__content'>
                <div class='b-product-item__price'>55 000 р</div>
                <div class='b-product-item__descr'>Кольцо с раухтопазом, фианитами</div>
                <p class="mb15">
                    <a class="btn lh40 ff_cr ttu fz13 bg_y txt_white" href="#">Где купить</a>
                </p>
                <p>
                    <a class="save-product-btn" href="#">
                        <span class="icon normal"></span>
                        <span class="icon hover"></span>
                        <span class="text normal">Сохранить</span>
                        <span class="text active">Сохранено</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="b-product-slider__item">
        <div class="b-product-item">
            <div class='b-fade-slider'>
                <div class='b-fade-slider__slides'>
                    <div class="b-fade-slider__slide active" data-fade-slide="1">
                        <img src="img/products/product-img1.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="2">
                        <img src="img/products/product-img2.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="3">
                        <img src="img/products/product-img3.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="4">
                        <img src="img/products/product-img4.jpg" alt="">
                    </div>
                </div>
                <ul class='b-fade-slider__nav clearfix'>
                    <li class="b-fade-slider__nav-item active" data-fade-nav="1"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="2"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="3"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="4"></li>
                </ul>
            </div>
            <div class='b-product-item__content'>
                <div class='b-product-item__price'>55 000 р</div>
                <div class='b-product-item__descr'>Кольцо с раухтопазом, фианитами</div>
                <p class="mb15">
                    <a class="btn lh40 ff_cr ttu fz13 bg_y txt_white" href="#">Где купить</a>
                </p>
                <p>
                    <a class="save-product-btn" href="#">
                        <span class="icon normal"></span>
                        <span class="icon hover"></span>
                        <span class="text normal">Сохранить</span>
                        <span class="text active">Сохранено</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="b-product-slider__item">
        <div class="b-product-item">
            <div class='b-fade-slider'>
                <div class='b-fade-slider__slides'>
                    <div class="b-fade-slider__slide active" data-fade-slide="1">
                        <img src="img/products/product-img1.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="2">
                        <img src="img/products/product-img2.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="3">
                        <img src="img/products/product-img3.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="4">
                        <img src="img/products/product-img4.jpg" alt="">
                    </div>
                </div>
                <ul class='b-fade-slider__nav clearfix'>
                    <li class="b-fade-slider__nav-item active" data-fade-nav="1"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="2"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="3"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="4"></li>
                </ul>
            </div>
            <div class='b-product-item__content'>
                <div class='b-product-item__price'>55 000 р</div>
                <div class='b-product-item__descr'>Кольцо с раухтопазом, фианитами</div>
                <p class="mb15">
                    <a class="btn lh40 ff_cr ttu fz13 bg_y txt_white" href="#">Где купить</a>
                </p>
                <p>
                    <a class="save-product-btn" href="#">
                        <span class="icon normal"></span>
                        <span class="icon hover"></span>
                        <span class="text normal">Сохранить</span>
                        <span class="text active">Сохранено</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="b-product-slider__item">
        <div class="b-product-item">
            <div class='b-fade-slider'>
                <div class='b-fade-slider__slides'>
                    <div class="b-fade-slider__slide active" data-fade-slide="1">
                        <img src="img/products/product-img1.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="2">
                        <img src="img/products/product-img2.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="3">
                        <img src="img/products/product-img3.jpg" alt="">
                    </div>
                    <div class="b-fade-slider__slide" data-fade-slide="4">
                        <img src="img/products/product-img4.jpg" alt="">
                    </div>
                </div>
                <ul class='b-fade-slider__nav clearfix'>
                    <li class="b-fade-slider__nav-item active" data-fade-nav="1"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="2"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="3"></li>
                    <li class="b-fade-slider__nav-item" data-fade-nav="4"></li>
                </ul>
            </div>
            <div class='b-product-item__content'>
                <div class='b-product-item__price'>55 000 р</div>
                <div class='b-product-item__descr'>Кольцо с раухтопазом, фианитами</div>
                <p class="mb15">
                    <a class="btn lh40 ff_cr ttu fz13 bg_y txt_white" href="#">Где купить</a>
                </p>
                <p>
                    <a class="save-product-btn" href="#">
                        <span class="icon normal"></span>
                        <span class="icon hover"></span>
                        <span class="text normal">Сохранить</span>
                        <span class="text active">Сохранено</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>