<div class="b-section-wrapper bg-gray pt20 pb20">
    <div class="b-container">
        <div class="b-similar-categories">
            <div class="b-similar-categories__left f_l">
                <p class="b-similar-categories__title">Похожие категории:</p>
            </div>
        </div>
        <nav class="b-tags ovh">
            <a class="b-tags__item" href="#">Подвески и кулоны</a>
            <a class="b-tags__item" href="#">Подвески и кулоны золото (красное)</a>
            <a class="b-tags__item" href="#">Подвески и кулоны топаз</a>
            <a class="b-tags__item" href="#">Подвески и кулоны</a>
            <a class="b-tags__item" href="#">Подвески и кулоны голд</a>
            <a class="b-tags__item" href="#">Подвески и кулоны</a>
            <a class="b-tags__item" href="#">Подвески и кулоны золото (красное)</a>
            <a class="b-tags__item" href="#">Подвески и кулоны топаз</a>
            <a class="b-tags__item" href="#">Подвески и кулоны</a>
            <a class="b-tags__item" href="#">Подвески и кулоны голд</a>
        </nav>
    </div>
</div>