<div class="b-section-wrapper bg-gray pt20 pb20">
    <div class="b-container">
        <div class="f_l pr30">
            <p class="fz20 ff_cl txt_gray">Похожие категории:</p>
        </div>
        <nav class="b-tags ovh">
            <a class="b-tags__item" href="#">Подвески и кулоны</a>
            <a class="b-tags__item" href="#">Подвески и кулоны золото (красное)</a>
            <a class="b-tags__item" href="#">Подвески и кулоны топаз</a>
            <a class="b-tags__item" href="#">Подвески и кулоны</a>
            <a class="b-tags__item" href="#">Подвески и кулоны голд</a>
            <a class="b-tags__item" href="#">Подвески и кулоны</a>
            <a class="b-tags__item" href="#">Подвески и кулоны золото (красное)</a>
            <a class="b-tags__item" href="#">Подвески и кулоны топаз</a>
            <a class="b-tags__item" href="#">Подвески и кулоны</a>
            <a class="b-tags__item" href="#">Подвески и кулоны голд</a>
        </nav>
    </div>
</div>