<div class="b-section-wrapper p65 tac">
    <div class="b-container">
        <p class='fz28-title'>Ювелирный магазин КАРАТОВ.ру</p>
        <div class="b-seo__descr b-accordion-item">
            <div class="b-accordion-item__default">
                <p>Магазин ювелирных украшений КАРАТОВ.ру – настоящий гипермаркет изделий, где каждый сможет найти <br> для себя подходящее украшение. Широчайший выбор, разнообразие дизайна и доступные цены — то, что мы предлагаем каждому нашему клиенту. <br> Большой ассортимент женских, мужских и детских ювелирных изделий из золота выгодно выделяет магазин ювелирных...</p>
            </div>
            <div class='b-accordion-item__popup'>
                Магазин ювелирных украшений КАРАТОВ.ру – настоящий гипермаркет изделий, где каждый сможет найти <br> для себя подходящее украшение. Широчайший выбор, разнообразие дизайна и доступные цены — то, что мы предлагаем каждому нашему клиенту. <br> Большой ассортимент женских, мужских и детских ювелирных изделий из золота выгодно выделяет магазин ювелирных...
            </div>
            <p class="tac">
                <span class="expand-all-btn accordion-toggle">
                    <span class="text_default">Развернуть все</span>
                    <span class="text_active">Свернуть все</span>
                </span>
            </p>
        </div>
    </div>
</div>