<div class="b-section-wrapper bg-gray">
    <div class="b-container">
        <nav class="b-product-nav clearfix">
            <a class="b-product-nav__item" href="#">Новинки</a>
            <a class="b-product-nav__item" href="#">Коллекции</a>
            <a class="b-product-nav__item" href="#">Кольца</a>
            <a class="b-product-nav__item" href="#">Серьги</a>
            <a class="b-product-nav__item" href="#">Подвески</a>
            <a class="b-product-nav__item" href="#">Колье</a>
            <a class="b-product-nav__item" href="#">Браслеты</a>
            <a class="b-product-nav__item" href="#">Другое</a>
        </nav>
    </div>
</div>