<div class="b-subscribe-wrapper">
    <div class='b-subscribe clearfix'>
        <div class="b-subscribe__left f_l">
            <p class="fz19 ttu ff_cr lh1-2em">Дарим 500 рублей на золото!</p>
        </div>
        <div class="b-subscribe__right ovh tar">
            <div class="b-subscribe-form">
                <input class='b-subscribe-form__input' type="text" placeholder="Имя">
                <input class='b-subscribe-form__input' type="text" placeholder="Email">
                <button class="b-subscribe-form__button btn lh40 border-empty ff_cr ttu fz13">Подписаться</button>
            </div>
        </div>
    </div>
</div>