<div class="b-header-teaser">
    <span class='b-header-teaser__close'></span>
    <div class="b-containter">
        <div class="b-teaser clearfix">
            <div class='b-teaser__item'>
                <div class="b-teaser__item-icon ic1"></div>
                <div class="b-teaser__item-content">Собственное производство</div>
            </div>
            <div class='b-teaser__item'>
                <div class="b-teaser__item-icon ic2"></div>
                <div class="b-teaser__item-content">Один из крупнейших в России</div>
            </div>
            <div class='b-teaser__item'>
                <div class="b-teaser__item-icon ic3"></div>
                <div class="b-teaser__item-content">5 000 магазинов партнеров в мире</div>
            </div>
            <div class='b-teaser__item'>
                <div class="b-teaser__item-icon ic4"></div>
                <div class="b-teaser__item-content">25 лет на мировом рынке</div>
            </div>
        </div>
    </div>
</div>