{% extends "layouts/main_expert.twig" %}

{% block pageScripts %}
    <script>
        $(document).ready(function(){
            var timer1 = new CountdownTimer('timer1', "Thu, 17 Nov 2017  7:36:00 GMT");
            timer1.countDown();
            var timer2 = new CountdownTimer('timer2', "Thu, 13 Nov 2017 19:36:00 GMT");
            timer2.countDown();
        });
    </script>
{% endblock %}

{% set page = 'header_buyer' %}

{% block topPlate %}
    {% include "widgets/top-plate.twig" %}
{% endblock %}

{% block menuBlock %}
    {% include "widgets/b-menu-expert.twig" %}
{% endblock %}

{% block pageContent %}
    <div class="b-section-wrapper mb30">
        <div class="b-full-w-banner bg-cover h450 bg-center tac p60_0 mobile-p40_0 tablet-h_auto" style="background-image: url(img/banners/competition-bg1.jpg)">
            <div class="b-container w520">
                <p class="mb20">
                    <span class="fz11 txt_white dib bg-orange lh20 p0_5 br3 ttu">участвую</span>
                </p>
                <p class="title-section-fz43 mb20">Основной конкурс</p>
                <div class="b-text mb20">
                    <p>Каждый из нас — уникальный, ни на кого  не похожий мир.
                        Создайте неповторимое украшение и расскажите о себе.</p>
                </div>
                <p class="mb25 mobile-hidden">
                    <a href="#" class="btn lh40 ff_cr ttu fz13 bb">Узнать подробнее</a>
                </p>
                <div>
                    <div id="timer1" class="b-timer"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-section-wrapper pb100">
        <div class="b-container">
            <div class="b-grid">
                <div class="b-grid-row">
                    <div class="b-grid-item p0_10 d-w66">
                        <div class="b-buyer-grid-item bg-cover" style="background-image: url(img/banners/competition-bg2.jpg)">
                            <div class="b-buyer-grid-item__content p65_50" >
                                <p class="mb10">
                                    <span class="fz11 txt_white dib bg-dgray lh20 p0_5 br3 ttu">не участвую</span>
                                </p>
                                <p class="b-buyer-grid-item__title">европейские каникулы</p>
                                <div class="b-buyer-grid-item__descr mobile-hidde">
                                    <p>Каждый из наших друзей уникальный, <br>ни на кого не похожий мир</p>
                                </div>
                                <div class="mb10 mobile-hidden">
                                    <form class="b-competition-form">
                                        <input type="text" class="b-competition-form__input" placeholder="Введите email">
                                        <button class="b-competition-form__submit">участвовать</button>
                                    </form>
                                </div>
                                <div class="mobile-hidden">
                                    <p class="b-buyer-grid-item__more-text-fz12">Окончание акции</p>
                                    <p class="b-buyer-grid-item__more-text-fz18">20 сентября 2016 г.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-grid-item p0_10 d-w33">
                        <div class="b-buyer-grid-item bg-cover " style="background-image: url(img/banners/competition-bg3.jpg)">
                            <div class="b-buyer-grid-item__content p35">
                                <p class="mb10">
                                    <span class="fz11 txt_white dib bg-dgray lh20 p0_5 br3 ttu">не участвую</span>
                                </p>
                                <p class="b-buyer-grid-item__title">Подвеска за подписку</p>
                                <div class="b-buyer-grid-item__descr mobile-hidden">
                                    <p>Получи подвеску бесплато <br>за регистрацию в нашем кабинете</p>
                                </div>
                                <p class="tab-hidden mobile-hidden">
                                    <a href="#" class="btn lh40 ff_cr ttu fz13 bb">Принять участие</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-grid-row">
                    <div class="b-grid-item p0_10 d-w33">
                        <div class="b-buyer-grid-item bg-cover" style="background-image: url(img/grid-img2.jpg)">
                            <div class="b-buyer-grid-item__content abs-center tac">
                                <div class="b-buyer-grid-item__brush">
                                    <i class="brush-icon"></i>
                                </div>
                                <p class="mb10">
                                    <span class="fz11 txt_white dib bg-dgray lh20 p0_5 br3 ttu">не участвую</span>
                                </p>
                                <p class="b-buyer-grid-item__title">подарок <br> за репост</p>
                                <div class="b-buyer-grid-item__descr">
                                    <p>Каждый из наших друзей <br>
                                        уникальный, ни на кого <br>
                                        не похожий мир
                                    </p>
                                </div>
                                <p class="mobile-hidden">
                                    <a href="#" class="btn lh40 white ff_cr ttu fz13">узнать подробнее</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="b-grid-item p0_10 d-w66">
                        <div class="b-buyer-grid-item bg-cover" style="background-image: url(img/banners/competition-bg4.jpg)">
                            <div class="b-buyer-grid-item__content p65_50" >
                                <p class="mb10">
                                    <span class="fz11 txt_white dib bg-orange lh20 p0_5 br3 ttu">участвую</span>
                                </p>
                                <p class="b-buyer-grid-item__title">Каратов дарит <br> путешествие</p>
                                <div class="b-buyer-grid-item__descr">
                                    <p>Каждый из наших друзей уникальный, <br>ни на кого не похожий мир</p>
                                </div>
                                <p class="mb15">
                                    <a href="#" class="btn lh40 ff_cr ttu fz13 bb">Узнать подробнее</a>
                                </p>
                                <div>
                                    <div id="timer2" class="b-timer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-grid-row">
                    <div class="b-grid-item p0_10 d-w66">
                        <div class="b-buyer-grid-item bg-cover" style="background-image: url(img/banners/competition-bg2.jpg)">
                            <div class="b-buyer-grid-item__content p65_50 cover">
                                <p class="mb10">
                                    <span class="fz11 txt_white dib bg-orange lh20 p0_5 br3 ttu">конкурс завершен</span>
                                </p>
                                <p class="b-buyer-grid-item__title">европейские каникулы</p>
                                <div class="b-buyer-grid-item__descr">
                                    <p>Каждый из наших друзей уникальный, <br>ни на кого не похожий мир</p>
                                </div>
                                <p class="no-cover">
                                    <a href="#" class="btn lh40 ff_cr ttu fz13 bb">узнать подробнее</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="b-grid-item p0_10 d-w33">
                        <div class="b-buyer-grid-item bg-cover" style="background-image: url(img/banners/competition-bg3.jpg)">
                            <div class="b-buyer-grid-item__content p35 cover">
                                <p class="mb10">
                                    <span class="fz11 txt_white dib bg-orange lh20 p0_5 br3 ttu">конкурс завершен</span>
                                </p>
                                <p class="b-buyer-grid-item__title">Подвеска за подписку</p>
                                <div class="b-buyer-grid-item__descr">
                                    <p>Получи подвеску бесплато <br>за регистрацию в нашем кабинете</p>
                                </div>
                                <p class="no-cover">
                                    <a href="#" class="btn lh40 ff_cr ttu fz13 bb">узнать подробнее</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}