{% extends "layouts/main.twig" %}
{% block pageTitle %} card page{% endblock %}
{% block pageScripts %}

    <script>
        $(document).ready(function () {
            $(".b-card-mobile-slider").owlCarousel({
                items: 1,
                loop: true,
                nav: false,
                dots: true,
                mouseDrag: true,
                autoplay: true
            });
        });


        $(document).ready(function () {
            $(".b-product-slider").owlCarousel({
                responsive : {
                    0 : {
                        items: 2
                    }, 768 : {
                        items: 5
                    }
                },
                loop: true,
                nav: true,
                dots: true,
                mouseDrag: true,
                responsive: {
                    0: {
                        items: 2
                    },
                    768: {
                        items: 5
                    }
                }
            });
        });


        $(document).ready(function () {
            $(".b-reviews-slider").owlCarousel({
                items: 2,
                loop: true,
                nav: true,
                dots: true,
                mouseDrag: true,
                margin: 30,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 2
                    }
                }
            });
        });


    </script>

{% endblock %}

{% block topPlate %}
    {% include "widgets/top-plate.twig" %}
{% endblock %}

{% block subscribe %}
    {% include "widgets/subscribe.twig" %}
{% endblock %}

{% block feedbacks %}
    {#{% include "widgets/feedbacks.twig" %}#}
{% endblock %}

{% block seoText %}
    {% include "widgets/seo-text.twig" %}
{% endblock %}

{% block submenuBlock %}
    {% include "widgets/submenu.twig" %}
{% endblock %}

{% block menuBlock %}
    {% include "widgets/b-menu.twig" %}
{% endblock %}

{% block breadCrumbs %}
    {% include "widgets/breadcrumbs.twig" with {class: "footer"} %}
{% endblock %}

{% block pageContent %}
    {% include "widgets/breadcrumbs.twig" with {class: "pt40"} %}

    <div class="b-section-wrapper p40 bb">
        <div class="b-container">
            <div class="b-product-m-screen clearfix">
                <div class="b-product-m-screen__left f_l">
                    <div class='b-presentation-slider b-fade-slider mobile-hidden'>
                        <ul class="b-product-infographics">
                            <li class="b-product-infographics__item check44px f_r"></li>
                        </ul>
                        <ul class="b-presentation-slider__nav">
                            <li class="b-presentation-slider__nav-item active" data-fade-nav="1">
                                <img src="img/products/product-img6.jpg" alt="">
                            </li>
                            <li class="b-presentation-slider__nav-item" data-fade-nav="2">
                                <img src="img/products/product-img1.jpg" alt="">
                            </li>
                            <li class="b-presentation-slider__nav-item video" data-fade-nav="3"></li>
                        </ul>
                        <div class="b-presentation-slider__slides">
                            <div class="b-presentation-slider__slide active" data-fade-slide="1">
                                <div class="standard-preview">
                                    <img src="img/products/product-img6.jpg" alt="">
                                </div>
                                <div class="hover-preview b-increase-hover">
                                    <img src="img/products/product-img6.jpg" style="width: 1000px; height: 1000px" alt="">
                                </div>
                            </div>
                            <div class="b-presentation-slider__slide" data-fade-slide="2">
                                <img src="img/products/product-img1.jpg" alt="">
                            </div>
                            <div class="b-presentation-slider__slide" data-fade-slide="3">
                                <img src="img/products/product-img3.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="b-card-product-mobile">
                        <div class="b-card-product-mobile__header">
                            <p class="b-card-product-mobile__title">Обручальное кольцо с жемчужинами арт. 32435</p>
                            <ul class="b-product-infographics pos_r">
                                <li class="b-product-infographics__item check30px f_r"></li>
                            </ul>
                        </div>
                        <div class="b-card-product-mobile__content">
                            <div class="b-card-mobile-slider">
                                <div class="b-card-mobile-slider__item">
                                    <img src="img/products/product-img1.jpg" alt="">
                                </div>
                                <div class="b-card-mobile-slider__item">
                                    <img src="img/products/product-img2.jpg" alt="">
                                </div>
                                <div class="b-card-mobile-slider__item">
                                    <img src="img/products/product-img3.jpg" alt="">
                                </div>
                            </div>
                            <div class='b-buy-form'>
                                <div class="b-buy-form__price-wrapper clearfix">
                                    <span class="b-buy-form__price-value">41 000 Р</span>
                                    <div class="b-buy-form__price-info f_r">
                                        <span class='fz14 ff_cr dib mr10'>Средняя цена</span>
                                        <div class="b-clarification dib">
                                            <span class="b-clarification__icon"></span>
                                            <span class="b-clarification__popup pos_r">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class='b-buy-form__bonus-select'>
                                    <div class='b-select mb15'>
                                        <select class='select lh44 border-gray w270'>
                                            <option >Выберите размер</option>
                                            <option >Выберите размер1</option>
                                            <option >Выберите размер2</option>
                                            <option >Выберите размер3</option>
                                        </select>
                                    </div>
                                    <p>
                                        <a class="fz15 ff_cl tdu txt_gray" href="#">Как выбрать размер?</a>
                                    </p>
                                </div>
                                <p class="b-buy-form__buy-btn-wrapper">
                                    <a class="btn lh66 ff_cr ttu fz21 bg_y txt_white full_w" href="#">Где купить ?</a>
                                    <span href="#" class="b-buy-gray-bonus">+ за покупку начислим 323 руб.</span>
                                </p>
                                <div class="b-buy-form__soc-wrapper">
                                    <span class="b-buy-form__soc-wrapper__title">Хочу в подарок</span>
                                    <ul class="b-soc-list clearfix dib">
                                        <li class="b-soc-list__item">
                                            <a class="b-soc-list__link ic3" href="#"></a>
                                        </li>
                                        <li class="b-soc-list__item">
                                            <a class="b-soc-list__link ic4" href="#"></a>
                                        </li>
                                        <li class="b-soc-list__item">
                                            <a class="b-soc-list__link ic1" href="#"></a>
                                        </li>
                                        <li class="b-soc-list__item">
                                            <a class="b-soc-list__link ic2" href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="b-characteristics">
                        <p class="b-characteristics__header">
                            <span class="txt_gray">Ширина:</span> 3 мм
                            <span class="txt_gray">Высота:</span> 1,5 мм
                        </p>
                        <p class="b-characteristics__subtitle">Кольцо обручальное из красного золота с белыми бриллиантами (арт. 32435)</p>
                        <a href="#" class="b-banner mb25">
                            <div class="b-banner__text left_pos">
                                <p class="ff_cl ttu txt_white">KARATOV <br>Бесконечность</p>
                            </div>
                            <div class="b-banner__bg">
                                <img src="img/characteristics_img1.jpg" alt="">
                            </div>
                        </a>
                        <div class="b-characteristics__descr">Украшения из колекции «Бесконечность» попадают в наши ювелирные салоны после прохождения строгого контроля качества, что позволяет нам быть уверенными в том, что украшения, купленные в KARATOV, будут радовать своих обладателей долгие годы.</div>
                        <ul class='b-characteristics-table'>
                            <li class="b-characteristics-table__item clearfix">
                                <div class="f_l">
                                    <div class="b-clarification dib text dib">
                                        <span class="border-dotted dib">Ширина</span>
                                        <span class="b-clarification__popup mobile-left">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                                    </div>
                                    <span class="dib">/</span>
                                    <div class="b-clarification dib text dib">
                                        <span class="border-dotted dib">Высота</span>
                                        <span class="b-clarification__popup mobile-left">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                                    </div>
                                </div>
                                <span class="f_r">3 мм / 1.5 мм</span>
                            </li>
                            <li class="b-characteristics-table__item clearfix">
                                <span class="f_l">Высота</span>
                                <span class="f_r">1.5 мм</span>
                            </li>
                            <li class="b-characteristics-table__item clearfix">
                                <div class="f_l">
                                    <div class="b-clarification dib text dib">
                                        <span class="border-dotted dib">Приблизительный вес</span>
                                        <span class="b-clarification__popup mobile-left">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                                    </div>
                                </div>
                                <span class="f_r">1.12 г.</span>
                            </li>
                            <li class="b-characteristics-table__item clearfix">
                                <span class="f_l">Металл</span>
                                <div class="f_r">
                                    <div class="b-clarification dib text dib">
                                        <span class="border-dotted dib">Золото (Красное)</span>
                                        <span class="b-clarification__popup mobile-right">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                                    </div>
                                </div>
                            </li>
                            <li class="b-characteristics-table__item clearfix">
                                <span class="f_l">Проба</span>
                                <span class="f_r"><a class="tdu" href="#">585</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="b-product-m-screen__right f_r">
                    <div class='b-buy-form'>
                        <p class="b-buy-form__title">Обручальное кольцо с жемчужинами арт. 32435</p>
                        <div class="b-buy-form__price-wrapper">
                            <span class="b-buy-form__price-value">41 000 Р</span>
                            <div class="b-buy-form__price-info">
                                <span class='fz14 ff_cr dib mr10'>Средняя цена</span>
                                <div class="b-clarification dib">
                                    <span class="b-clarification__icon"></span>
                                    <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                                </div>
                            </div>
                        </div>
                        <p class="b-buy-form__bonus-wrapper">
                            <span href="#" class="b-buy-gray-bonus">+ за покупку начислим 323 руб.</span>
                        </p>
                        <div class='b-buy-form__bonus-select'>
                            <div class='b-select mb15'>
                                <select class='select lh44 border-gray w270'>
                                    <option >Выберите размер</option>
                                    <option >Выберите размер1</option>
                                    <option >Выберите размер2</option>
                                    <option >Выберите размер3</option>
                                </select>
                            </div>
                            <p>
                                <a class="fz15 ff_cl tdu txt_gray" href="#">Как выбрать размер?</a>
                            </p>
                        </div>
                        <p class="b-buy-form__buy-btn-wrapper">
                            <a class="btn lh66 ff_cr ttu fz21 bg_y txt_white full_w" href="#">Где купить ?</a>
                        </p>
                        <div>
                            <span class="dib fz12 ff_cr ttu mr15">Хочу в подарок</span>
                            <ul class="b-soc-list clearfix dib">
                                <li class="b-soc-list__item">
                                    <a class="b-soc-list__link ic3" href="#"></a>
                                </li>
                                <li class="b-soc-list__item">
                                    <a class="b-soc-list__link ic4" href="#"></a>
                                </li>
                                <li class="b-soc-list__item">
                                    <a class="b-soc-list__link ic1" href="#"></a>
                                </li>
                                <li class="b-soc-list__item">
                                    <a class="b-soc-list__link ic2" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    {% include "widgets/feedbacks.twig" with {add_review: true, title: "Отзывы об этом изделии"} %}

    <div class='b-section-wrapper p65 bb'>
        <div class="b-container">
            <p class="fz28 ff_cl mb45 tac">Идеальный комплект</p>
            <div class='b-set clearfix'>

                <div class="b-set-products clearfix">
                    <a href="#" class="b-set-products__item">
                        <span class="b-set-products__item-check"></span>
                        <div class="b-set-products__item-preview">
                            <img src="img/products/product-img1.jpg" alt="">
                        </div>
                        <div class="b-set-products__item__content">
                            <p class="fz20 ff_cr mb10">55 000 р</p>
                            <p class="fz12 ff_cl txt_gray">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        </div>
                    </a>
                    <a href="#" class="b-set-products__item">
                        <span class="b-set-products__item-check"></span>
                        <div class="b-set-products__item-preview">
                            <img src="img/products/product-img1.jpg" alt="">
                        </div>
                        <div class="b-set-products__item__content">
                            <p class="fz20 ff_cr mb10">55 000 р</p>
                            <p class="fz12 ff_cl txt_gray">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        </div>
                    </a>
                    <a href="#" class="b-set-products__item">
                        <span class="b-set-products__item-check"></span>
                        <div class="b-set-products__item-preview">
                            <img src="img/products/product-img1.jpg" alt="">
                        </div>
                        <div class="b-set-products__item__content">
                            <p class="fz20 ff_cr mb10">55 000 р</p>
                            <p class="fz12 ff_cl txt_gray">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        </div>
                    </a>
                    <div class="b-set-products__item">
                        <p class="b-set-products__price-btn-wrapper">
                            <a class="b-set-products__price-btn btn" href="#">Где купить?</a>
                        </p>
                        <p class="b-set-products__price">41 000 р</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="b-section-wrapper p40 bb b-similar-wrapper">
        <div class="b-container">
            <div class="b-similar">
                <div class="b-similar__item">
                    <p class="b-similar__item-title">Это украшение в другом металле:</p>
                    <ul class="b-similar-units">
                        <li class="b-similar-units__item">
                            <a href="#"><img src="img/products/product-img1.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#"><img src="img/products/product-img2.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#"><img src="img/products/product-img3.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="b-similar__item">
                    <p class="b-similar__item-title">Это украшение с другой вставкой:</p>
                    <ul class="b-similar-units">
                        <li class="b-similar-units__item">
                            <a href="#"><img src="img/products/product-img1.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#"><img src="img/products/product-img2.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#"><img src="img/products/product-img3.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#"><img src="img/products/product-img1.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#"><img src="img/products/product-img2.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#"><img src="img/products/product-img3.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="b-section-wrapper pt55">
        <div class="b-container">
            <div class="tac">
                <p class="mb15 fz28 ff_cl">Вам также понравится</p>
            </div>

            {% include "widgets/product_slider.twig" %}
        </div>
    </div>

    {% include "widgets/same-categories.twig" %}
{% endblock %}