{% extends "layouts/main.twig" %}

{% block pageScripts %}

    <script>
        $(document).ready(function () {
            $(".b-full-slider").owlCarousel({
                items: 1,
                loop: true,
                navigation: true,
                dots: true,
                mouseDrag: true
            });
        });

        $(document).ready(function () {
            $(".b-product-slider").owlCarousel({
                loop: true,
                navigation: true,
                dots: true,
                mouseDrag: true,
                responsive: {
                    0: {
                        items: 2
                    },
                    768: {
                        items: 5
                    }
                }
            });
        });


        $(document).ready(function () {
            $(".b-reviews-slider").owlCarousel({
                items: 2,
                loop: true,
                navigation: true,
                dots: true,
                mouseDrag: true,
                margin: 30
            });
        });


    </script>

{% endblock %}

{% block topPlate %}
    {% include "widgets/top-plate.twig" %}
{% endblock %}

{% block catalog %}
    {% include "widgets/b-catalog.twig" %}
{% endblock %}

{% block mainSlider %}
    {% include "widgets/b-main-slider.twig" %}
{% endblock %}

{% block subscribe %}
    {% include "widgets/subscribe.twig" %}
{% endblock %}

{% block seoText %}
    {% include "widgets/seo-text.twig" %}
{% endblock %}

{% block submenuBlock %}
    {% include "widgets/submenu.twig" %}
{% endblock %}

{% block menuBlock %}
    {% include "widgets/b-menu.twig" %}
{% endblock %}

{% block pageContent %}
    <div class="b-section-wrapper p40">
        <div class="b-container">
            <nav class="b-grid-nav mobile-grid-slider">
                <a class="b-grid-nav__item" href="#">
                    <span class="b-grid-nav__item__text">Кольца</span>
                    <div class="b-grid-nav__item__bg">
                        <img src="img/products/product-img1.jpg" alt="">
                    </div>
                </a>
                <a class="b-grid-nav__item" href="#">
                    <span class="b-grid-nav__item__text">Серьги</span>
                    <div class="b-grid-nav__item__bg">
                        <img src="img/products/product-img2.jpg" alt="">
                    </div>
                </a>
                <a class="b-grid-nav__item" href="#">
                    <span class="b-grid-nav__item__text">Подвески и кулоны</span>
                    <div class="b-grid-nav__item__bg">
                        <img src="img/products/product-img3.jpg" alt="">
                    </div>
                </a>
                <a class="b-grid-nav__item" href="#">
                    <span class="b-grid-nav__item__text">Колье</span>
                    <div class="b-grid-nav__item__bg">
                        <img src="img/products/product-img4.jpg" alt="">
                    </div>
                </a>
            </nav>
        </div>
    </div>

    {% block mainSlider %}{% endblock %}


    <div class="b-section-wrapper p55 bb">
        <div class="b-container">
            <div class="b-sliders-tabs tabs-wrapper">
                <div class="b-sliders-tabs__nav">
                    <div class="b-sliders-tabs__nav__item active" data-tab="1"><span class="dib">Новинки</span></div>
                    <div class="b-sliders-tabs__nav__item" data-tab="2"><span class="dib">лидеры продаж</span></div>
                    <div class="b-sliders-tabs__nav__item" data-tab="3"><span class="dib">karatov рекомендует</span></div>
                </div>
                <div class="b-sliders-tabs__content">
                    <div class="b-sliders-tabs__content__item active" data-slide="1">
                        {% include "widgets/product_slider.twig" %}
                    </div>

                    <div class="b-sliders-tabs__content__item" data-slide="2">
                        {% include "widgets/product_slider.twig" %}
                    </div>

                    <div class="b-sliders-tabs__content__item" data-slide="3">
                        {% include "widgets/product_slider.twig" %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="b-section-wrapper p55">
        <div class="b-container">
            <div class="b-best-collection">
                <p class="fz28-title">Лучшие коллекции KARATOV</p>
                <div class="b-best-collection__units">
                    <a class="b-best-collection__item" href="#">
                        <div class="b-best-collection__item__bg">
                            <img src="img/best-collection-img1.jpg" alt="">
                        </div>
                        <span class="b-best-collection__item__text txt_white">Karatov Бесконечность</span>
                    </a>
                    <a class="b-best-collection__item" href="#">
                        <div class="b-best-collection__item__bg">
                            <img src="img/best-collection-img2.jpg" alt="">
                        </div>
                        <span class="b-best-collection__item__text">императрица</span>
                    </a>
                    <a class="b-best-collection__item" href="#">
                        <div class="b-best-collection__item__bg">
                            <img src="img/best-collection-img3.jpg" alt="">
                        </div>
                        <span class="b-best-collection__item__text txt_gray2">Karatov change</span>
                    </a>
                </div>
                <p class="b-best-collection__btn-wrapper">
                    <a class="btn lh40 white ff_cr ttu fz13" href="#">все коллекции</a>
                </p>
            </div>
        </div>
    </div>

    {% block catalog %}{% endblock %}


    <div class="b-section-wrapper p40 bb b-similar-wrapper">
        <div class="b-container">
            <div class="b-similar">
                <div class="b-similar__item">
                    <p class="b-similar__item-title txt_black">Вы смотрели:</p>
                    <ul class="b-similar-units">
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img1.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img2.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img3.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img1.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img2.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img3.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img1.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}