{% extends "layouts/main.twig" %}

{% block pageScripts %}

    <script>
        $(document).ready(function () {
            $(".b-full-slider").owlCarousel({
                items: 1,
                loop: true,
                nav: true,
                dots: true,
                mouseDrag: true
            });
        });

        $(document).ready(function () {
            $(".b-product-slider").owlCarousel({
                items: 5,
                loop: true,
                nav: true,
                dots: true,
                mouseDrag: true
            });
        });


        $(document).ready(function () {
            $(".b-reviews-slider").owlCarousel({
                items: 2,
                loop: true,
                nav: true,
                dots: true,
                mouseDrag: true,
                margin: 30
            });
        });


    </script>

{% endblock %}

{% block topPlate %}
    {% include "widgets/top-plate.twig" %}
{% endblock %}

{% block subscribe %}
    {% include "widgets/subscribe.twig" %}
{% endblock %}

{% block feedbacks %}
    {% include "widgets/feedbacks.twig" %}
{% endblock %}

{% block seoText %}
    {% include "widgets/seo-text.twig" %}
{% endblock %}

{% block submenuBlock %}
    {% include "widgets/submenu.twig" %}
{% endblock %}

{% block menuBlock %}
    {% include "widgets/b-menu.twig" %}
{% endblock %}

{% block pageContent %}
    <div class="b-section-wrapper p40">
        <div class="b-container">
            <nav class="b-grid-nav">
                <a class="b-grid-nav__item" href="#">
                    <span class="b-grid-nav__item__text">Кольца</span>
                    <div class="b-grid-nav__item__bg">
                        <img src="img/products/product-img1.jpg" alt="">
                    </div>
                </a>
                <a class="b-grid-nav__item" href="#">
                    <span class="b-grid-nav__item__text">Серьги</span>
                    <div class="b-grid-nav__item__bg">
                        <img src="img/products/product-img2.jpg" alt="">
                    </div>
                </a>
                <a class="b-grid-nav__item" href="#">
                    <span class="b-grid-nav__item__text">Подвески и кулоны</span>
                    <div class="b-grid-nav__item__bg">
                        <img src="img/products/product-img3.jpg" alt="">
                    </div>
                </a>
                <a class="b-grid-nav__item" href="#">
                    <span class="b-grid-nav__item__text">Колье</span>
                    <div class="b-grid-nav__item__bg">
                        <img src="img/products/product-img4.jpg" alt="">
                    </div>
                </a>
            </nav>
        </div>
    </div>

    <div class="b-section-wrapper p55 bb">
        <div class="b-container">
            <div class="b-sliders-tabs tabs-wrapper">
                <div class="b-sliders-tabs__nav">
                    <div class="b-sliders-tabs__nav__item active" data-tab="1"><span class="dib">Новинки</span></div>
                    <div class="b-sliders-tabs__nav__item" data-tab="2"><span class="dib">лидеры продаж</span></div>
                    <div class="b-sliders-tabs__nav__item" data-tab="3"><span class="dib">karatov рекомендует</span></div>
                </div>
                <div class="b-sliders-tabs__content">
                    <div class="b-sliders-tabs__content__item active" data-slide="1">
                        {% include "widgets/product_slider.twig" %}
                    </div>

                    <div class="b-sliders-tabs__content__item" data-slide="2">
                        {% include "widgets/product_slider.twig" %}
                    </div>

                    <div class="b-sliders-tabs__content__item" data-slide="3">
                        {% include "widgets/product_slider.twig" %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="b-section-wrapper p55">
        <div class="b-container">
            <div class="b-best-collection">
                <p class="fz28-title">Лучшие коллекции KARATOV</p>
                <div class="b-best-collection__units">
                    <a class="b-best-collection__item" href="#">
                        <div class="b-best-collection__item__bg">
                            <img src="img/best-collection-img1.jpg" alt="">
                        </div>
                        <span class="b-best-collection__item__text txt_white">Karatov Бесконечность</span>
                    </a>
                    <a class="b-best-collection__item" href="#">
                        <div class="b-best-collection__item__bg">
                            <img src="img/best-collection-img2.jpg" alt="">
                        </div>
                        <span class="b-best-collection__item__text">императрица</span>
                    </a>
                    <a class="b-best-collection__item" href="#">
                        <div class="b-best-collection__item__bg">
                            <img src="img/best-collection-img3.jpg" alt="">
                        </div>
                        <span class="b-best-collection__item__text txt_gray2">Karatov change</span>
                    </a>
                </div>
                <p class="tac pt30">
                    <a class="btn lh40 white ff_cr ttu fz13" href="#">все коллекции</a>
                </p>
            </div>
        </div>
    </div>

    <div class="b-section-wrapper b-catalog bb pb60">
        <div id="b-catalog-header" class="b-catalog-header">
            <div class='b-container tac'>
                <div class="b-filter-open f_l w300px">
						<span class="filter-open-btn" data-filter-btn="toggle">
							<span class="hamburger pos_l">
								<span class="hamburger__line top"></span>
								<span class="hamburger__line middle"></span>
								<span class="hamburger__line bottom"></span>
							</span>
							Фильтр
						</span>
                </div>
                <div class="b-for-whom dib">
                    <span class='b-for-whom__item b-for-whom__title'>Я ищу</span>
                    <label>
                        <input type="radio" class="hidden b-for-whom__item-input" name="1">
                        <span class="b-for-whom__item">Для себя</span>
                    </label>
                    <label>
                        <input type="radio" class="hidden b-for-whom__item-input" name="1">
                        <span class="b-for-whom__item">В подарок</span>
                    </label>
                </div>
                <div class="w300px f_r tar">
                    <div class="b-filter-select ">
                        <div class="b-filter-select__name color-gray">Сначала популярные</div>
                        <div class="b-filter-select__dropdown">
                            <ul class="b-filter-select__dropdown">
                                <li><a href="#">Самые дешевые</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="b-catalog-body" class='b-catalog-body'>
            <div id="b-fix-filter" class="b-catalog-fix-filter">
                <div class="b-container">
                    <div class="b-catalog-filter">
                        <div class="b-filter-section taj">
                            <div class="b-filter-select">
                                <div class="b-filter-select__name">Вид</div>
                                <div class="b-filter-select__dropdown">
                                    <ul class="b-nesting">
                                        <li class='b-nesting__item'>
                                            <div class='b-nesting__item-content'>
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Золото</span>
                                                </label>
                                            </div>
                                            <ul class="b-nesting__list">
                                                <li class="b-nesting__list__item">
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Красное</span>
                                                    </label>
                                                </li>
                                                <li class="b-nesting__list__item">
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Желтое</span>
                                                    </label>
                                                </li>
                                                <li class="b-nesting__list__item">
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Белое</span>
                                                    </label>
                                                </li>
                                                <li class="b-nesting__list__item">
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Мультицвет</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class='b-nesting__item'>
                                            <div class='b-nesting__item-content'>
                                                <label class="b-fieltr-label">
                                                    <input type="radio" class="filter-radio">
                                                    <span class='b-filter-label__text'>Платина</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class='b-nesting__item'>
                                            <div class='b-nesting__item-content'>
                                                <label class="b-filter-label">
                                                    <input type="radio" class="filter-radio">
                                                    <span class='b-filter-label__text'>Серебро</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="b-filter-select">
                                <div class="b-filter-select-selected">
                                    Металл: Золото
                                    <span class="close-btn">
										<span class="close-btn__cross"></span>
									</span>
                                </div>
                            </div>
                            <div class="b-filter-select">
                                <div class="b-filter-select-selected">
                                    4 вставки
                                    <span class="close-btn">
										<span class="close-btn__cross"></span>
									</span>
                                </div>
                            </div>
                            <div class="b-filter-select">
                                <div class="b-filter-select__name">Цена</div>
                                <div class="b-filter-select__dropdown">
                                    <ul class="b-nesting">
                                        <li class='b-nesting__item'>
                                            <div class='b-nesting__item-content'>
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Золото</span>
                                                </label>
                                            </div>
                                            <ul class="b-nesting__list">
                                                <li class="b-nesting__list__item">
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Красное</span>
                                                    </label>
                                                </li>
                                                <li class="b-nesting__list__item">
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Желтое</span>
                                                    </label>
                                                </li>
                                                <li class="b-nesting__list__item">
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Белое</span>
                                                    </label>
                                                </li>
                                                <li class="b-nesting__list__item">
                                                    <label class="b-filter-label">
                                                        <input type="checkbox" class="filter-checkbox">
                                                        <span class='b-filter-label__text'>Мультицвет</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class='b-nesting__item'>
                                            <div class='b-nesting__item-content'>
                                                <label class="b-filter-label">
                                                    <input type="radio" class="filter-radio">
                                                    <span class='b-filter-label__text'>Платина</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class='b-nesting__item'>
                                            <div class='b-nesting__item-content'>
                                                <label class="b-filter-label">
                                                    <input type="radio" class="filter-radio">
                                                    <span class='b-filter-label__text'>Серебро</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="b-filter-select ">
                                <div class="b-filter-select__name">Цена</div>
                            </div>
                            <div class="b-filter-select">
                                <div class="b-filter-select__name">Цена</div>
                            </div>
                            <div class="b-filter-select hidden">
                                <div class="b-filter-select__name">Цена</div>
                            </div>
                            <div class="b-filter-select hidden">
                                <div class="b-filter-select__name">Цена</div>
                            </div>
                            <div class="b-filter-select">
								<span class="filter-height-btn more-filters-btn accordion-toggle">
									<span class="text_default">Еще...</span>
									<span class="text_active">Скрыть</span>
								</span>
                            </div>
                        </div>
                        <button class="clear-filters-btn">Очистить фильтры</button>
                    </div>
                </div>
            </div>
            <div class="b-container rel">
                <div id="b-sidebar-filter" class="b-sidebar-filter">
                    <div class="b-sidebar-filter__section">
                        <ul class="b-filter-ul">
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Товар дня</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Успейте купить</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Есть скидка</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Новинки</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Есть комплект</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="b-sidebar-filter__section">
                        <p class='b-sidebar-filter__section__title'>вид украшения</p>
                        <ul class="b-filter-ul">
                            <li class="b-filter-ul__li b-dropbox">
                                <div class="b-dropbox__static filter-height-btn">
                                    <label class="b-filter-label">
                                        <input name="radio1" type="radio" class="filter-radio active-black">
                                        <span class='b-filter-label__text'>Ювелирные украшения</span>
                                    </label>
                                </div>
                                <div class="b-dropbox__popup b-accordion-item">
                                    <div class="b-accordion-item__default">
                                        <ul class="b-filter-ul">
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Кольца</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Серьги</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Подвески и кулоны</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Цепочки</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Браслеты</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Броши</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="b-accordion-item__popup">
                                        <ul class="b-filter-ul">
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Кольца</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Серьги</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Подвески и кулоны</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Цепочки</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Браслеты</span>
                                                </label>
                                            </li>
                                            <li class="b-filter-ul__li">
                                                <label class="b-filter-label">
                                                    <input name="radio2" type="radio" class="filter-radio active-black">
                                                    <span class='b-filter-label__text'>Броши</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="pt5">
                                        <a class="filter-height-btn gray-more-btn accordion-toggle" href="#">
                                            <span class="text_default">Еще...</span>
                                            <span class="text_active">Скрыть</span>
                                        </a>
                                    </p>
                                </div>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input name="radio1" type="radio" class="filter-radio">
                                    <span class='b-filter-label__text'>Успейте купить</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input name="radio1" type="radio" class="filter-radio">
                                    <span class='b-filter-label__text'>Есть скидка</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input name="radio1" type="radio" class="filter-radio">
                                    <span class='b-filter-label__text'>Новинки</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input name="radio1" type="radio" class="filter-radio">
                                    <span class='b-filter-label__text'>Есть комплект</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="b-sidebar-filter__section">
                        <p class='b-sidebar-filter__section__title'>Металл</p>
                        <ul class="b-filter-ul">
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Золото</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Платина</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Серебро</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="b-sidebar-filter__section">
                        <p class='b-sidebar-filter__section__title'>Вставка</p>
                        <ul class="b-filter-ul">
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Золото</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Платина</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Серебро</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Новинки</span>
                                </label>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox">
                                    <span class='b-filter-label__text'>Есть комплект</span>
                                </label>
                            </li>
                        </ul>
                        <p class="pt5">
                            <a class="gray-more-btn" href="#">Еще...</a>
                        </p>
                    </div>
                    <div class="b-sidebar-filter__section">
                        <p class='b-sidebar-filter__section__title'>Цена (руб.)</p>
                        <form class="from-to">
                            <input class="from-to__input" type="text" placeholder="от">
                            <input class="from-to__input" type="text" placeholder="до">
                            <button class="from-to__button"></button>
                        </form>
                    </div>
                    <div class="b-sidebar-filter__section">
                        <p class='b-sidebar-filter__section__title'>Наличие</p>
                        <ul class="b-filter-ul mb25">
                            <li class="b-filter-ul__li">
                                <div class="dib pr30 rel">
                                    <label class="b-filter-label">
                                        <input type="checkbox" class="filter-checkbox active-black">
                                        <span class='b-filter-label__text'>В наличии в России</span>
                                    </label>
                                    <div class="b-clarification abs_r">
                                        <span class="b-clarification__icon"></span>
                                        <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                                    </div>
                                </div>
                            </li>
                            <li class="b-filter-ul__li">
                                <label class="b-filter-label">
                                    <input type="checkbox" class="filter-checkbox active-black">
                                    <span class='b-filter-label__text'>В наличии в Москве</span>
                                </label>
                            </li>
                        </ul>
                        <p class='mb10'>
                            <button class="btn lh40 ff_cr ttu fz13 bg_y txt_white full_w tac" href="#">Применить</button>
                        </p>
                        <p class="tac">
                            <button class="reset-all-btn"><span class="reset-all-btn__cross"></span>Сбростить все</button>
                        </p>
                    </div>
                </div>
                <div id="b-catalog-content" class="b-catalog-m-content">
                    <div class="b-catalog-units">
                        <div class="b-catalog-units__item">
                            <div class="b-product-item">
                                <div class="b-product-item__preview">
                                    <img src="img/products/product-img1.jpg" alt="">
                                </div>
                                <p class="b-product-item__price">55 000 р</p>
                                <div class="b-product-item__descr">
                                    <p>Кольцо из красного золота 585 пробы</p>
                                </div>
                            </div>
                        </div>
                        <div class="b-catalog-units__item">
                            <div class="b-product-item">
                                <div class="b-product-item__preview">
                                    <img src="img/products/product-img1.jpg" alt="">
                                </div>
                                <p class="b-product-item__price">55 000 р</p>
                                <div class="b-product-item__descr">
                                    <p>Кольцо из красного золота 585 пробы</p>
                                </div>
                            </div>
                        </div>
                        <div class="b-catalog-units__item">
                            <div class="b-product-item">
                                <div class="b-product-item__preview">
                                    <img src="img/products/product-img1.jpg" alt="">
                                </div>
                                <p class="b-product-item__price">55 000 р</p>
                                <div class="b-product-item__descr">
                                    <p>Кольцо из красного золота 585 пробы</p>
                                </div>
                            </div>
                        </div>
                        <div class="b-catalog-units__item">
                            <div class="b-product-item">
                                <div class="b-product-item__preview">
                                    <img src="img/products/product-img1.jpg" alt="">
                                </div>
                                <p class="b-product-item__price">55 000 р</p>
                                <div class="b-product-item__descr">
                                    <p>Кольцо из красного золота 585 пробы</p>
                                </div>
                            </div>
                        </div>
                        <div class="b-catalog-units__item">
                            <div class="b-product-item">
                                <div class="b-product-item__preview">
                                    <img src="img/products/product-img1.jpg" alt="">
                                </div>
                                <p class="b-product-item__price">55 000 р</p>
                                <div class="b-product-item__descr">
                                    <p>Кольцо из красного золота 585 пробы</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-pagination-wrapper tac pos_b">
                        <ul class="b-pagination dib mb35">
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">1</a>
                            </li>
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">2</a>
                            </li>
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">...</a>
                            </li>
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">5</a>
                            </li>
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">6</a>
                            </li>
                            <li class="b-pagination__item active">
                                <a class='b-pagination__link' href="#">7</a>
                            </li>
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">8</a>
                            </li>
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">9</a>
                            </li>
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">...</a>
                            </li>
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">79</a>
                            </li>
                            <li class="b-pagination__item">
                                <a class='b-pagination__link' href="#">80</a>
                            </li>
                        </ul>
                        <p>
                            <a class="btn lh40 white ff_cr ttu fz13" href="#">Показать еще</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-section-wrapper p40 bb ">
        <div class="b-container">
            <div class="b-similar">
                <div class="b-similar__item">
                    <p class="b-similar__item-title txt_black">Вы смотрели:</p>
                    <ul class="b-similar-units">
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img1.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img2.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img3.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img1.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img2.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img3.jpg" alt=""></a>
                        </li>
                        <li class="b-similar-units__item">
                            <a href="#" class="b-sumilar-units__link"><img src="img/products/product-img1.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}