{% extends "layouts/main_expert.twig" %}

{% block pageScripts %}

{% endblock %}


{% block topPlate %}
    {% include "widgets/top-plate.twig" %}
{% endblock %}

{% block menuBlock %}
    {% include "widgets/b-menu-expert.twig" %}
{% endblock %}

{% block pageContent %}
    <div class="b-section-wrapper p110_0 bg-gray">
        <div class="b-container w700 tac">
            <h1 class='main-title'>ПРИСОЕДИНЯЙТЕСЬ <br>К КОМАНДЕ KARATOV!</h1>
            <div class="b-st-descr mobile-w300">Это сообщество предназначено для всех, кто работает с ювелирным ассортиментом <br class="mobile-hidden"> — для настоящих профессионалов своего дела</div>
            <p>
                <a href="#" class="btn lh45 ff_cr ttu fz14 orange p0_75">Войти</a>
            </p>
        </div>
    </div>

    <div class="b-section-wrapper opportunities-in-team">
        <div class="b-container">
            <p class="fz28-title">С командой у вас появятся новые возможности:</p>
            <div class="b-infographics">
                <div class="b-infographics__item">
                    <div class="b-infographics__item__icon icon1"></div>
                    <div class="b-infographics__item__descr">Повышать профессиональный
                        уровень, получая новые знания
                        и увеличивая продажи</div>
                </div>
                <div class="b-infographics__item">
                    <div class="b-infographics__item__icon icon2"></div>
                    <div class="b-infographics__item__descr">Получить признание
                        в профессиональных конкурсах
                        и стать Продавцом года
                        KARATOV</div>
                </div>
                <div class="b-infographics__item">
                    <div class="b-infographics__item__icon icon3"></div>
                    <div class="b-infographics__item__descr">Зарабатывать бонусы
                        и выигрывать подарки от бренда,
                        выполняя повседневную работу</div>
                </div>
                <div class="b-infographics__item">
                    <div class="b-infographics__item__icon icon4"></div>
                    <div class="b-infographics__item__descr">Пройти образовательный
                        тренинг и получить именной
                        сертификат KARATOV</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}