{% extends "layouts/main.twig" %}

{% block pageScripts %}

    <script>
        $(document).ready(function () {
            $(".b-full-slider").owlCarousel({
                items: 1,
                loop: true,
                nav: true,
                dots: true,
                mouseDrag: true
            });
        });

        $(document).ready(function () {
            $(".b-product-slider").owlCarousel({
                responsive : {
                    0 : {
                        items: 2
                    }, 768 : {
                        items: 5
                    }
                },
                loop: true,
                nav: true,
                dots: true,
                mouseDrag: true,
                responsive: {
                    0: {
                        items: 2
                    },
                    768: {
                        items: 5
                    }
                }
            });
        });


        $(document).ready(function () {
            $(".b-reviews-slider").owlCarousel({
                items: 2,
                loop: true,
                nav: true,
                dots: true,
                mouseDrag: true,
                margin: 30,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 2
                    }
                }
            });
        });


    </script>

{% endblock %}

{% block topPlate %}
    {% include "widgets/top-plate.twig" %}
{% endblock %}

{% block subscribe %}
    {% include "widgets/subscribe.twig" %}
{% endblock %}

{% block feedbacks %}
    {% include "widgets/feedbacks.twig" with {wrapper_class: "index-reviews"} %}
{% endblock %}

{% block seoText %}
    {% include "widgets/seo-text.twig" %}
{% endblock %}

{% block menuBlock %}
    {% include "widgets/b-menu.twig" %}
{% endblock %}

{% block product_slider %}
    <div class="b-product-slider-wrapper">
        <div class="b-container">
            <div class="tac">
                <p class="title17px ttu txt_gray">140 клиентов онлайн</p>
                <p class="title28px">Сейчас просматривают эти украшения</p>
            </div>
            {% include "widgets/product_slider.twig" %}
        </div>
    </div>
{% endblock %}

{% block mainSlider %}
    {% include "widgets/b-main-slider.twig" %}
{% endblock %}

{% block pageContent %}
    {% block mainSlider %}{% endblock %}

    <div class="b-section-wrapper">
        <div class="b-container">
            <div class="b-index-filter clearfix">
                <div class="b-index-filter__section f_l">
                    <div class="b-search-selection">
                        <div class="b-search-selection__item">
                            <p class="b-search-selection__title">я ищу:</p>
                        </div>
                        <div class="b-search-selection__item">
                            <input class="b-search-selection__radio-input" type="radio" name="search-selection">
                            <p class="b-search-selection__item-text">Для себя</p>
                        </div>
                        <div class="b-search-selection__item">
                            <input class="b-search-selection__radio-input" type="radio" name="search-selection">
                            <p class="b-search-selection__item-text">В подарок</p>
                        </div>
                    </div>
                </div>

                <div class="b-index-filter__section f_l">
                    <div class="b-index-filter__select-item">
                        <div class="b-filter-select">
                            <div class="b-filter-select__name">Вид</div>
                            <div class="b-filter-select__dropdown">
                                <ul class="b-nesting">
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="checkbox" class="filter-checkbox">
                                                <span class='b-filter-label__text'>Золото</span>
                                            </label>
                                        </div>
                                        <ul class="b-nesting__list">
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Красное</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Желтое</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Белое</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Мультицвет</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="radio" class="filter-radio" name="1">
                                                <span class='b-filter-label__text'>Платина</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="radio" class="filter-radio" name="1">
                                                <span class='b-filter-label__text'>Серебро</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="b-index-filter__select-item">
                        <div class="b-filter-select">
                            <div class="b-filter-select__name">Металл</div>
                            <div class="b-filter-select__dropdown">
                                <ul class="b-nesting">
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="checkbox" class="filter-checkbox">
                                                <span class='b-filter-label__text'>Золото</span>
                                            </label>
                                        </div>
                                        <ul class="b-nesting__list">
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Красное</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Желтое</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Белое</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Мультицвет</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="radio" class="filter-radio" name="1">
                                                <span class='b-filter-label__text'>Платина</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="radio" class="filter-radio" name="1">
                                                <span class='b-filter-label__text'>Серебро</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="b-index-filter__select-item">
                        <div class="b-filter-select">
                            <div class="b-filter-select__name">Вставка</div>
                            <div class="b-filter-select__dropdown mobile-right">
                                <ul class="b-nesting">
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="checkbox" class="filter-checkbox">
                                                <span class='b-filter-label__text'>Золото</span>
                                            </label>
                                        </div>
                                        <ul class="b-nesting__list">
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Красное</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Желтое</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Белое</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Мультицвет</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="radio" class="filter-radio" name="1">
                                                <span class='b-filter-label__text'>Платина</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="radio" class="filter-radio" name="1">
                                                <span class='b-filter-label__text'>Серебро</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="b-index-filter__select-item">
                        <div class="b-filter-select">
                            <div class="b-filter-select__name">Цена</div>
                            <div class="b-filter-select__dropdown mobile-right">
                                <ul class="b-nesting">
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="checkbox" class="filter-checkbox">
                                                <span class='b-filter-label__text'>Золото</span>
                                            </label>
                                        </div>
                                        <ul class="b-nesting__list">
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Красное</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Желтое</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Белое</span>
                                                </label>
                                            </li>
                                            <li class="b-nesting__list__item">
                                                <label class="b-filter-label">
                                                    <input type="checkbox" class="filter-checkbox">
                                                    <span class='b-filter-label__text'>Мультицвет</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="radio" class="filter-radio" name="1">
                                                <span class='b-filter-label__text'>Платина</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class='b-nesting__item'>
                                        <div class='b-nesting__item-content'>
                                            <label class="b-filter-label">
                                                <input type="radio" class="filter-radio" name="1">
                                                <span class='b-filter-label__text'>Серебро</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-index-filter__section f_r btn-wrapper">
                    <button class='btn lh40 white ff_cr ttu fz13 '>подобрать из 32 540</button>
                </div>
            </div>
            <div class="b-m-grid clearfix">
                <a class="b-m-grid__item w32 f_l mr2 mb2 mobile-w50 " href="#">
                    <div class="prop-item__size h100"></div>
                    <div class="prop-item__content">
                        <div class="b-m-grid__item__preview bg1"></div>
                        <div class="b-m-grid__item__content bottom">
                            <p class="b-m-grid__item__title txt_white">KARATOV Бесконечность</p>
                            <p>
                                <span class="b-m-grid__item__btn btn">перейти к коллекции</span>
                            </p>
                        </div>
                    </div>
                </a>
                <a class="b-m-grid__item w32 f_l mr2 mb2 mobile-w50 mobile-mr0" href="#">
                    <div class="prop-item__size h100"></div>
                    <div class="prop-item__content">
                        <div class="b-m-grid__item__preview bg2"></div>
                        <div class="b-m-grid__item__content middle tac">
                            <p class="b-m-grid__item__title brush-icon">Идеи подарков <br> karatov</p>
                            <div class="b-m-grid__item__descr">Каждый из наших друзей <br> уникальный, ни на кого <br> не похожий мир</div>
                        </div>
                    </div>
                </a>
                <a class="b-m-grid__item w32 f_r mb2 mobile-dn" href="#">
                    <div class="prop-item__size h200"></div>
                    <div class="prop-item__content">
                        <div class="b-m-grid__item__preview bg3"></div>
                        <div class="b-m-grid__item__content bottom txt_black bg_w pad_40 tac">
                            <p class="b-m-grid__item__title">солнечные коллекции</p>
                            <div class="b-m-grid__item__descr">Каждый из нас — уникальный, ни на кого  не похожий мир</div>
                        </div>
                    </div>
                </a>
                <a class="b-m-grid__item w66 f_l mr2 mb2 mobile-w100 mobile-mr0" href="#">
                    <div class="prop-item__size h50"></div>
                    <div class="prop-item__content">
                        <div class="b-m-grid__item__preview bg4"></div>
                        <div class="b-m-grid__item__content right txt_black">
                            <p class="b-m-grid__item__title">розовое золото</p>
                            <p>
                                <span class="b-m-grid__item__btn btn">Смотреть подборку</span>
                            </p>
                        </div>
                    </div>
                </a>
                <a class="b-m-grid__item w32 f_r mb2 mobile-db desctop-dn mobile-w50 mobile-fl mr2" href="#">
                    <div class="prop-item__size h100"></div>
                    <div class="prop-item__content">
                        <div class="b-m-grid__item__preview bg3"></div>
                        <div class="b-m-grid__item__content bottom txt_black bg_w pad_40 tac">
                            <p class="b-m-grid__item__title mb0">солнечные коллекции</p>
                        </div>
                    </div>
                </a>
                <a class="b-m-grid__item w32 f_l mr2 mobile-w50 mobile-mr0" href="#">
                    <div class="prop-item__size h100"></div>
                    <div class="prop-item__content">
                        <div class="b-m-grid__item__preview bg5"></div>
                        <div class="b-m-grid__item__content map_circle txt_black">
                            <p class="b-m-grid__item__title map-icon">где купить?</p>
                        </div>
                    </div>
                </a>
                <a class="b-m-grid__item w32 f_l mr2 mobile-w50" href="#">
                    <div class="prop-item__size h100"></div>
                    <div class="prop-item__content">
                        <div class="b-m-grid__item__preview bg6"></div>
                        <div class="b-m-grid__item__content bottom ">
                            <p class="b-m-grid__item__title txt_white">KARATOV Change</p>
                            <p>
                                <span class="b-m-grid__item__btn btn">перейти к коллекции</span>
                            </p>
                        </div>
                    </div>
                </a>
                <a class="b-m-grid__item w32 f_l mobile-w50 mobile-mr0" href="#">
                    <div class="prop-item__size h100"></div>
                    <div class="prop-item__content">
                        <div class="b-m-grid__item__preview bg7"></div>
                        <div class="b-m-grid__item__content top txt_black">
                            <p class="b-m-grid__item__title">путешествие <br> в париж</p>
                            <p>
                                <span class="b-m-grid__item__btn btn">принять участие</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}