{% extends "layouts/main_expert.twig" %}

{% block pageScripts %}

{% endblock %}



{% block menuBlock %}
    {% include "widgets/b-menu-expert.twig" %}
{% endblock %}

{% block pageContent %}
    <div class="b-expert-page">
        <div class="b-container clearfix">
            <div class="b-expert-page__content">
                <div class="b-section-wrapper bb pb60">
                    <h2 class="fz28-title mb10 tal">Мир каратов</h2>
                    <div class="b-st-grid mb30">
                        <div class="b-st-grid__item">
                            <a href="#" class="b-st-grid__item__preview">
                                <img src="img/expert_img/expert_grid1.jpg" alt="">
                            </a>
                            <h3 class="fz16 ttu mb10">ОБРУЧАЛЬНЫЕ КОЛЬЦА KARATOV</h3>
                            <div class="fz15 color-gray">
                                <p>Обручальное кольцо — очень важное украшение, на всю жизнь скрепляющее союз двух любящих сердец.</p>
                            </div>
                        </div>
                        <div class="b-st-grid__item">
                            <a href="#" class="b-st-grid__item__preview">
                                <img src="img/expert_img/expert_grid2.jpg" alt="">
                            </a>
                            <h3 class="fz16 ttu mb10">СЕРЕБРЯНЫЕ ЦЕПИ KARATOV</h3>
                            <div class="fz15 color-gray">
                                <p>Серебряные цепи KARATOV — это полновесные классические цепи машинного плетения.</p>
                            </div>
                        </div>
                        <div class="b-st-grid__item">
                            <a href="#" class="b-st-grid__item__preview">
                                <img src="img/expert_img/expert_grid3.jpg" alt="">
                            </a>
                            <h3 class="fz16 ttu mb10">МУЖСКИЕ УКРАШЕНИЯ KARATOV</h3>
                            <div class="fz15 color-gray">
                                <p>Ассортимент мужских украшений KARATOV включает в себя кольца-печатки, запонки, накладки на </p>
                            </div>
                        </div>
                    </div>
                    <p class="tac">
                        <a class="btn lh40 gray ff_cr ttu fz13 expert__show-all-btn" href="#">Посмотреть все</a>
                    </p>
                </div>
                <div class="b-section-wrapper pt45">
                    <h2 class="fz28-title mb10 tal">Конкурсы</h2>
                    <div class="b-contest mb30">
                        <div class="b-contest__item tal">
                            <div class="b-contest__item__bg">
                                <img src="img/expert_img/contest-img1.jpg" alt="">
                            </div>
                            <div class="b-contest__item__content">
                                <p class="fz24 ttu mb10">Три лучших повода</p>
                                <span class="btn fz13 ttu bb lh40">узнать подробнее</span>
                            </div>
                        </div>
                        <div class="b-contest__item tar">
                            <div class="b-contest__item__bg">
                                <img src="img/expert_img/contest-img2.jpg" alt="">
                            </div>
                            <div class="b-contest__item__content">
                                <p class="fz24 ttu mb10">Три лучших повода</p>
                                <span class="btn fz13 ttu bb lh40">узнать подробнее</span>
                            </div>
                        </div>
                        <div class="b-contest__item tal">
                            <div class="b-contest__item__bg">
                                <img src="img/expert_img/contest-img1.jpg" alt="">
                            </div>
                            <div class="b-contest__item__content">
                                <p class="fz24 ttu mb10">Три лучших повода</p>
                                <span class="btn fz13 ttu bb lh40">узнать подробнее</span>
                            </div>
                        </div>
                    </div>
                    <p class="tac">
                        <a class="btn lh40 gray ff_cr ttu fz13 expert__show-all-btn" href="#">Посмотреть все</a>
                    </p>
                </div>
            </div>
            <div class="b-expert-page__sidebar">
                <form action="#" class="b-sale-registration mb25">
                    <div class="b-sale-registration__content">
                        <p class="fz24-title tac ttu">Регистрация
                            продажи</p>
                        <div class="mb10 rel">
                            <input placeholder="Введите штрих-код" class="st-input lh40" type="text">
                            <div class="b-clarification abs_input tooltip tooltipstered" data-tooltip-content="#tooltip_content">
                                <span class="b-clarification__icon"></span>
                            </div>
                        </div>
                        <div class="mb10">
                            <input placeholder="Введите артикул" class="st-input lh40" type="text">
                        </div>
                        <div>
                            <button class="btn lh45 ff_cr ttu fz14 bg_y txt_white full_w ">Зарегистрировать</button>
                        </div>
                    </div>
                </form>
                <div class="b-leaders-sells">
                    <div class="fz28-title tal mb10">Лидеры продаж</div>
                    <div class="b-grid-leaders">
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img1.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Алексей Иванов</p>
                                <p class="fz15 color-yellow">1 728 баллов</p>
                            </div>
                            <i class="b-grid-leaders__item__icon gold_medal"></i>
                        </div>
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img2.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Юлия Елизарова</p>
                                <p class="fz15 color-yellow">1 431 баллов</p>
                            </div>
                            <i class="b-grid-leaders__item__icon silver_medal"></i>
                        </div>
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img3.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Александра Константиновская</p>
                                <p class="fz15 color-yellow">1 122 баллов</p>
                            </div>
                            <i class="b-grid-leaders__item__icon bronze_medal"></i>
                        </div>
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img4.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Александра Константиновская</p>
                                <p class="fz15 color-yellow">1 122 баллов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}