{% extends "layouts/main.twig" %}
{% block pageTitle %} popups {% endblock %}


{% block pageContent %}

    <div class="b-section-wrapper">
        <div class="b-container">
            <div class="b-popups-opening">
                <div class="b-popups-opening__item" data-open-popup="test">Тестовый попап</div>
                <div class="b-popups-opening__item" data-open-popup="review">Отзыв отправлен</div>
                <div class="b-popups-opening__item" data-open-popup="review2">Оставить отзыв</div>
                <div class="b-popups-opening__item" data-open-popup="feedback">Обратный звонок</div>
                <div class="b-popups-opening__item" data-open-popup="select_size">Как выбрать размер?</div>
                <div class="b-popups-opening__item" data-open-popup="application_submitted">
                    заявка отправлена
                </div>
                <div class="b-popups-opening__item" data-open-popup="draw">Розыгрыш 1 </div>

                <div class="b-popups-opening__item" data-open-popup="draw2">Розыгрыш 2</div>

                <div class="b-popups-opening__item" data-open-popup="search">Поиск</div>

                <div class="b-popups-opening__item" data-open-popup="personal_data">личные данные</div>
                <div class="b-popups-opening__item" data-open-popup="registration">Зарегистрироваться</div>

                <div class="b-popups-opening__item" data-open-popup="login">Войти</div>

                <div class="b-popups-opening__item" data-open-popup="login2">Войти 2</div>

                <div class="b-popups-opening__item" data-open-popup="login3">Войти ошибка</div>


                <div class="b-popups-opening__item" data-open-popup="login4">Войти об. состояние</div>

                <div class="b-popups-opening__item" data-open-popup="select_city">Выбрать город</div>

                <div class="b-popups-opening__item" data-open-popup="order_sent">заказ оформлен</div>

                <div class="b-popups-opening__item" data-open-popup="checkout">Оформить заказ</div>

                <div class="b-popups-opening__item" data-open-popup="map_popup">Где купить в Москве?</div>
            </div>
        </div>
    </div>


    <div class="b-popups-wrapper">
        <div class="b-site-overlay" data-close="popups"></div>

        <div class="b-popup w730" data-popup="test">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">Текст</p>
            </div>
            <div class="b-popup__content">
                <div class="b-text h390 jScrollPane">
                    <div class="b-text__content">
                        <p>Магазин ювелирных украшений КАРАТОВ.ру – настоящий гипермаркет изделий, где каждый сможет найти для себя подходящее украшение. Широчайший выбор, разнообразие дизайна и доступные цены — то, что мы предлагаем каждому нашему клиенту. Большой ассортимент женских, мужских и детских ювелирных изделий из золота выгодно выделяет магазин ювелирных украшений KARATOV. В каталоге представлено более 40 тысяч ювелирных изделий, выполненных в различных стилистических решениях – от классика до авангарда.
                        </p>
                        <p>Высочайшее качество украшений, которые предлагает магазин золотых изделий KARATOV, подтверждено авторитетом крупнейших российских производителей, входящих в число лидеров отрасли, с которыми мы сотрудничаем напрямую. Большой ассортимент женских, мужских и детских ювелирных изделий из золота выгодно выделяет магазин ювелирных украшений KARATOV. В каталоге представлено более 40 тысяч ювелирных изделий, выполненных в различных стилистических решениях – от классика до авангарда. Высочайшее качество
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-popup w520" data-popup="review">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">Отзыв отправлен</p>
            </div>
            <div class="b-popup__content pt20 tac">
                <div class="b-text check70px mb20">
                    <p>Поздравляем, ваш отзыв отправлен. <br> После модерации мы выложим ваш отзыв на наш сайт.
                    </p>
                </div>
                <p>
                    <a class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Продолжить покупки</a>
                </p>
            </div>
        </div>

        <div class="b-popup w520" data-popup="review2">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">Оставить отзыв</p>
            </div>
            <form class="b-popup__content pt20 tac">
                <div class="mb20">
                    <input placeholder="Ваше имя" class="input-popup lh50" type="text">
                </div>
                <div class="mb20">
                    <input placeholder="Ваше e-mail" class="input-popup lh50" type="text">
                </div>
                <div class="mb20">
                    <textarea placeholder="Отзыв" class="textarea-popup h120"></textarea>
                </div>
                <div>
                    <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Добавить отзыв</button>
                </div>
            </form>
        </div>

        <div class="b-popup w520" data-popup="feedback">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">обратный звонок</p>
            </div>
            <form class="b-popup__content pt20 tac">
                <div class="mb20 b-phone-region">
                    <div class="b-flag-select">
                        <div class="b-flag-select__selected">
                            <img src="img/region-flag1.jpg" alt="">
                        </div>
                        <ul class="b-flag-select__content">
                            <li class="b-flag-select__item" data-mask="+6 (___) ___-__-__">
                                <img src="img/region-flag1.jpg" alt="">
                            </li>
                            <li class="b-flag-select__item" data-mask="+9 (999) 999-99-99">
                                <img src="img/region-flag2.jpg" alt="">
                            </li>
                            <li class="b-flag-select__item" data-mask="+6 (999) 999-99-99">
                                <img src="img/region-flag1.jpg" alt="">
                            </li>
                            <li class="b-flag-select__item" data-mask="+5 (999) 999-99-99">
                                <img src="img/region-flag2.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <input placeholder="+7 (___) ___-__-__" class="input-popup lh50 inputmask region-input" type="text">
                    <div class="b-clarification">
                        <span class="b-clarification__icon"></span>
                        <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                    </div>
                </div>
                <div class="mb20">
                    <textarea placeholder="Комментарий" class="textarea-popup h90"></textarea>
                </div>
                <div>
                    <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">перезвонить мне</button>
                </div>
            </form>
        </div>

        <div class="b-popup w520" data-popup="select_size">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="ova">
                <div class="b-popup__header">
                    <p class="b-popup__title">Как выбрать размер?</p>
                </div>
                <form class="b-popup__content pt20">
                    <div class="b-text mb20">
                        <p>Измерьте размер окружности кольца и размер окружности пальца для получения результата
                        </p>
                    </div>
                    <div class="mb20">
                        <select class="select border-gray lh50 full_w">
                            <option>Измерьте окружность кольца (мм)</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                        </select>
                    </div>
                    <div class="mb20">
                        <select class="select border-gray lh50 full_w">
                            <option>Измерьте окружность пальца (мм)</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                        </select>
                    </div>
                    <p class="mb20 tac">Ваш результат: 15</p>
                    <div>
                        <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">продолжить</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="b-popup w520" data-popup="application_submitted">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">заявка отправлена</p>
            </div>
            <div class="b-popup__content pt20 tac">
                <div class="b-text check70px mb20">
                    <p>Поздравляем, ваш отзыв отправлен. <br> После модерации мы выложим ваш отзыв на наш сайт.
                    </p>
                </div>
                <p>
                    <a class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Продолжить покупки</a>
                </p>
            </div>
        </div>

        <div class="b-popup w800 draw-bg-left" data-popup="draw">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="draw-bg-left__content">
                <p class="title26px tac mb20">Розыгрыш для подписчиков
                    Каратов</p>
                <form class="b-popup__content p0">
                    <div class="mb20">
                        <input placeholder="Имя" class="input-popup lh50" type="text">
                    </div>
                    <div class="mb20">
                        <input placeholder="Email" class="input-popup lh50" type="text">
                    </div>
                    <div>
                        <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Продолжить покупки</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="b-popup w500 draw-bg-top" data-popup="draw2">
            <i class="b-popup__close" data-close="popups"></i>
            <p class="title26px tac mb20">Розыгрыш для подписчиков
                Каратов</p>
            <form class="b-popup__content p0">
                <div class="mb20">
                    <input placeholder="Имя" class="input-popup lh50" type="text">
                </div>
                <div class="mb20">
                    <input placeholder="Email" class="input-popup lh50" type="text">
                </div>
                <div class="mb20">
                    <input placeholder="Телефон" class="input-popup lh50" type="text">
                </div>
                <div class="mb20">
                    <select class="select border-gray lh50 full_w">
                        <option>Дата рождения</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                    </select>
                </div>
                <div>
                    <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">получить подарок</button>
                </div>
            </form>

        </div>


        <div class="b-popup w640" data-popup="search">
            <i class="b-popup__close" data-close="popups"></i>
            <form class="rel">
                <input class="input-popup lh50" type="text" placeholder="Поиск по сайту">
                <button class="b-search__submit r15"></button>
            </form>

        </div>

        <div class="b-popup w520" data-popup="personal_data">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">Укажите личные <br>
                    данные и получите <br>
                    персональную скидку
                </p>
            </div>
            <form class="b-popup__content pt20 tac">
                <div class="mb20 b-phone-region">
                    <div class="b-flag-select">
                        <div class="b-flag-select__selected">
                            <img src="img/region-flag1.jpg" alt="">
                        </div>
                        <ul class="b-flag-select__content">
                            <li class="b-flag-select__item" data-mask="+6 (___) ___-__-__">
                                <img src="img/region-flag1.jpg" alt="">
                            </li>
                            <li class="b-flag-select__item" data-mask="+9 (999) 999-99-99">
                                <img src="img/region-flag2.jpg" alt="">
                            </li>
                            <li class="b-flag-select__item" data-mask="+6 (999) 999-99-99">
                                <img src="img/region-flag1.jpg" alt="">
                            </li>
                            <li class="b-flag-select__item" data-mask="+5 (999) 999-99-99">
                                <img src="img/region-flag2.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <input placeholder="+7 (___) ___-__-__" class="input-popup lh50 inputmask region-input" type="text">
                    <div class="b-clarification">
                        <span class="b-clarification__icon"></span>
                        <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                    </div>
                </div>
                <div>
                    <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Зарегистрироваться</button>
                </div>
            </form>
        </div>


        <div class="b-popup w520" data-popup="registration">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">Зарегистрироваться </p>
            </div>
            <form class="b-popup__content pt20 tac">
                <div class="b-popup-soc clearfix mb20">
                    <p class="b-popup-soc__title f_l">Через социальную сеть:</p>
                    <ul class="b-soc-login f_r">
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link vk"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link odn"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link fb"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link google"></a>
                        </li>
                    </ul>
                </div>
                <div class="b-or-sep tac mb20">
                    <span class="b-or-sep__text">или</span>
                </div>
                <div class="mb20 rel">
                    <input placeholder="Email" class="input-popup lh50 error" type="text">
                    <div class="b-clarification abs_input">
                        <span class="b-clarification__icon"></span>
                        <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                    </div>
                </div>
                <div class="mb20 b-phone-region">
                    <div class="b-flag-select">
                        <div class="b-flag-select__selected">
                            <img src="img/region-flag1.jpg" alt="">
                        </div>
                        <ul class="b-flag-select__content">
                            <li class="b-flag-select__item" data-mask="+6 (___) ___-__-__">
                                <img src="img/region-flag1.jpg" alt="">
                            </li>
                            <li class="b-flag-select__item" data-mask="+9 (999) 999-99-99">
                                <img src="img/region-flag2.jpg" alt="">
                            </li>
                            <li class="b-flag-select__item" data-mask="+6 (999) 999-99-99">
                                <img src="img/region-flag1.jpg" alt="">
                            </li>
                            <li class="b-flag-select__item" data-mask="+5 (999) 999-99-99">
                                <img src="img/region-flag2.jpg" alt="">
                            </li>

                        </ul>
                    </div>
                    <input placeholder="+7 (___) ___-__-__" class="input-popup lh50 inputmask region-input success" type="text">
                    <div class="b-clarification abs_input">
                        <span class="b-clarification__icon"></span>
                        <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                    </div>
                </div>
                <div class="mb20 rel">
                    <input placeholder="ФИО" class="input-popup lh50" type="text">
                    <div class="b-clarification abs_input">
                        <span class="b-clarification__icon"></span>
                        <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                    </div>
                </div>
                <div>
                    <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Зарегистрироваться</button>
                </div>
            </form>
        </div>


        <div class="b-popup w520" data-popup="login">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">Войти </p>
            </div>
            <form class="b-popup__content pt20 tac">
                <div class="b-popup-soc clearfix mb20">
                    <p class="b-popup-soc__title f_l">Через социальную сеть:</p>
                    <ul class="b-soc-login f_r">
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link vk"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link odn"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link fb"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link google"></a>
                        </li>
                    </ul>
                </div>
                <div class="b-or-sep tac mb35">
                    <span class="b-or-sep__text">или</span>
                </div>
                <div class="mb20 rel">
                    <input placeholder="Номер телефона или email" class="input-popup lh50" type="text">
                    <div class="b-clarification abs_input">
                        <span class="b-clarification__icon"></span>
                        <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                    </div>
                </div>
                <div class="mb20 rel clearfix lh50">
                    <input placeholder="Пароль" class="input-popup lh50 w50p f_l" type="text">
                    <a href="" class="fz15 color-yellow f_r">Напомнить пароль по СМС</a>
                </div>
                <div>
                    <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Войти</button>
                </div>
            </form>
        </div>



        <div class="b-popup w520" data-popup="login2">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">Войти </p>
            </div>
            <form class="b-popup__content pt20 tac">
                <div class="b-popup-soc clearfix mb20">
                    <p class="b-popup-soc__title f_l">Через социальную сеть:</p>
                    <ul class="b-soc-login f_r">
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link vk"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link odn"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link fb"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link google"></a>
                        </li>
                    </ul>
                </div>
                <div class="b-or-sep tac mb35">
                    <span class="b-or-sep__text">или</span>
                </div>
                <div class="mb20 rel">
                    <input placeholder="Номер телефона или email" class="input-popup lh50" type="text">
                    <div class="b-clarification abs_input">
                        <span class="b-clarification__icon"></span>
                        <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                    </div>
                </div>
                <div class="mb20">
                    <p class="ff_cl fz13 color-gray tal mb5">Вы зарегистрированный пользователь, пожалуйста авторизуйтесь</p>
                    <div class="lh50 clearfix rel">
                        <input placeholder="Пароль" class="input-popup lh50 w50p f_l" type="text">
                        <a href="" class="fz15 color-yellow f_r">Напомнить пароль по СМС</a>
                    </div>

                </div>
                <div>
                    <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Войти</button>
                </div>
            </form>
        </div>


        <div class="b-popup w520" data-popup="login3">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">Войти </p>
            </div>
            <form class="b-popup__content pt20 tac">
                <div class="b-popup-soc clearfix mb20">
                    <p class="b-popup-soc__title f_l">Через социальную сеть:</p>
                    <ul class="b-soc-login f_r">
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link vk"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link odn"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link fb"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link google"></a>
                        </li>
                    </ul>
                </div>
                <div class="b-or-sep tac mb35">
                    <span class="b-or-sep__text">или</span>
                </div>
                <div class="mb20">
                    <div class="rel mb5">
                        <input placeholder="Номер телефона или email" class="input-popup lh50" type="text">
                        <div class="b-clarification abs_input">
                            <span class="b-clarification__icon"></span>
                            <span class="b-clarification__popup">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                        </div>
                    </div>
                    <p class="ff_cl fz13 color-yellow tal">Email введен не корректно</p>
                </div>
                <div>
                    <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Войти</button>
                </div>
            </form>
        </div>


        <div class="b-popup w520" data-popup="login4">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">Войти </p>
            </div>
            <form class="b-popup__content pt20 tac">
                <div class="b-popup-soc clearfix mb20">
                    <p class="b-popup-soc__title f_l">Через социальную сеть:</p>
                    <ul class="b-soc-login f_r">
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link vk"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link odn"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link fb"></a>
                        </li>
                        <li class="b-soc-login__item">
                            <a href="#" class="b-soc-login__link google"></a>
                        </li>
                    </ul>
                </div>
                <div class="b-or-sep tac mb35">
                    <span class="b-or-sep__text">или</span>
                </div>
                <div class="mb20">
                    <div class="rel mb5">
                        <input placeholder="Номер телефона или email" class="input-popup lh50" type="text">
                        <div class="b-clarification abs_input">
                            <span class="b-clarification__icon"></span>
                            <span class="b-clarification__popup bottom w260 right">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn lh50 ff_cr ttu fz14 bg_y txt_white full_w" href="#" data-close="popups">Войти</button>
                </div>
            </form>
        </div>


        <div class="b-popup w700" data-popup="select_city">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">выбрать город </p>
            </div>
            <div class="b-popup__content pt20">
                <div class="b-select-region">
                    <ul class="b-country-list mb20">
                        <li class="b-country-list__item active">Россия</li>
                        <li class="b-country-list__item">Казахстан</li>
                    </ul>
                    <div class="mb15">
                        <div class="b-selected-city">Кострома</div>
                    </div>
                    <div class="mb20">
                        <div class="b-search-region rel mb5">
                            <input id="search-region" placeholder="Номер телефона или email" class="input-popup lh50" type="text">
                            <div class="b-clarification abs_input">
                                <span class="b-clarification__icon"></span>
                                <span class="b-clarification__popup bottom w260 right">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.</span>
                            </div>
                        </div>
                        <p class="ff_cl fz13 color-gray tal">Например Москва или Санкт-Петербург</p>
                    </div>
                    <div class="b-result-search-city clearfix">
                        <div class="b-result-region">
                            <p class="fz20 ff_cl mb10 color-gray">Регион</p>
                            <div class="b-scroll-result h320 jScrollPane">
                                <ul class="b-st-list">
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="b-result-city">
                            <p class="fz20 ff_cl mb10 color-gray">Населенный пункт</p>
                            <div class="b-scroll-result h320 jScrollPane">
                                <div class="b-city-list clearfix">
                                    <ul class="b-city-list__section">
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="b-city-list__section">
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="b-popup w600 b-pop-order" data-popup="checkout">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <a href="#" class="b-popup__header__back">
                    <span class="arrow"></span>
                </a>
                <p class="b-popup__title">Оформить заказ</p>
            </div>
            <div class="b-popup-section">
                <div class="b-popup-section__header">
                    <p class="color-gray fz20">Вы выбрали</p>
                </div>
                <div class="b-popup-section__content">
                    <div class="b-product-list">
                        <div class="b-product-list__item">
                            <div class="b-product-list__item__preview">
                                <img src="img/products/product-img2.jpg" alt="">
                            </div>
                            <div class="b-product-list__item__content">
                                <div>
                                    <div class="b-product-list__item__descr">Кольцо из белого золота с 20 бриллиантами и фианитами <i class="b-product-list__item_delete"></i>
                                    </div>
                                </div>
                                <p class="b-product-list__item__price">55 000 р</p>
                                <div class="b-product-list__item__size-wrap">
                                    <span class="fz12 mr50 dib">Размер</span>
                                    <select class="select border-gray lh24">
                                        <option>15</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="b-product-list__item">
                            <div class="b-product-list__item__preview">
                                <img src="img/products/product-img2.jpg" alt="">
                            </div>
                            <div class="b-product-list__item__content">
                                <div>
                                    <div class="b-product-list__item__descr">Кольцо из белого золота с 20 бриллиантами и фианитами <i class="b-product-list__item_delete"></i>
                                    </div>
                                </div>
                                <p class="b-product-list__item__price">55 000 р</p>
                                <div class="b-product-list__item__size-wrap">
                                    <span class="fz12 mr50 dib">Размер</span>
                                    <select class="select border-gray lh24">
                                        <option>15</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-popup-section">
                <div class="b-popup-section__header">
                    <p class="color-gray fz20 dib mr30">Магазин</p>
                    <a href="#" class="fz14 dib yellow-link">Изменить магазин</a>
                </div>
                <div class="b-popup-section__content">
                    <p class="fz15 ff_cr mb10">Бронницкий Ювелир</p>
                    <p class="fz14 ff_cl mb10">г. Москва, ул. Вавилова, 3</p>
                    <p class="fz14 ff_cl mb10">Режим работы: Пн.-Пт. 13:00–22:00, Сб.-Вс. 16:00–20:00</p>
                    <p class="fz14 ff_cl mb10">Телефон: +7 (499) 323-22-44</p>
                    <p class="fz14 ff_cl mb10">Планируемая дата доставки: 16 сентября</p>
                </div>
            </div>
            <div class="b-popup-section">
                <div class="b-popup-section__header">
                    <p class="color-gray fz20 dib mr30">Контактная информация</p>
                </div>
                <div class="b-popup-section__content">
                    <div class="mb15">
                        <input placeholder="Имя" class="input-popup lh50" type="text">
                    </div>
                    <div class="mb15">
                        <input placeholder="Email" class="input-popup lh50" type="text">
                    </div>
                    <div class="mb15 b-phone-region">
                        <div class="b-flag-select">
                            <div class="b-flag-select__selected">
                                <img src="img/region-flag1.jpg" alt="">
                            </div>
                            <ul class="b-flag-select__content">
                                <li class="b-flag-select__item" data-mask="+6 (___) ___-__-__">
                                    <img src="img/region-flag1.jpg" alt="">
                                </li>
                                <li class="b-flag-select__item" data-mask="+9 (999) 999-99-99">
                                    <img src="img/region-flag2.jpg" alt="">
                                </li>
                                <li class="b-flag-select__item" data-mask="+6 (999) 999-99-99">
                                    <img src="img/region-flag1.jpg" alt="">
                                </li>
                                <li class="b-flag-select__item" data-mask="+5 (999) 999-99-99">
                                    <img src="img/region-flag2.jpg" alt="">
                                </li>
                            </ul>
                        </div>
                        <input placeholder="+7 (___) ___-__-__" class="input-popup lh50 inputmask region-input" type="text">
                    </div>
                    <p>
                        <a href="#" class="dib fz14 b_d_link">Добавить комментарий</a>
                    </p>
                </div>
            </div>
            <div class="b-popup-section">
                <div class="b-popup-section__header">
                    <p class="color-gray fz20 dib mr30">Итоговая сумма</p>
                </div>
                <div class="b-popup-section__content">
                    <div class="mb20">
                        <span class="fz26 ff_cr mr20">55 000 р</span>
                        <span href="#" class="b-buy-gray-bonus dib">+ за покупку начислим 323 руб.</span>
                    </div>
                    <div class="mb20">
                        <a href="#" class="dib fz14 b_d_link mr30">Знаете промокод?</a>
                        <a href="#" class="dib fz14 b_d_link">Потратить бонусы</a>
                    </div>
                    <div class="mb10">
                        <a href="#" class="btn lh45 ff_cr ttu fz16 bg_y txt_white ">отправить заказ</a>
                    </div>
                    <p class="fz12 color-gray">Нажимая на кнопку вы соглашаетесь с <a href="#" class="yellow-link">условиями оферты</a> </p>
                </div>
            </div>
        </div>



        <div class="b-popup w600" data-popup="order_sent">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">заказ оформлен </p>
            </div>
            <div class="b-popup-section">
                <div class="b-popup-section__header">
                    <p class="color-gray fz20 dib mr30">Ваш заказ №1231411</p>
                    <span class="fz12 color-gray ">Принят 20.08.16</span>
                </div>
                <div class="b-popup-section__content">
                    <div class="b-product-list__item">
                        <div class="b-product-list__item__preview">
                            <img src="img/products/product-img2.jpg" alt="">
                        </div>
                        <div class="b-product-list__item__content">
                            <div class="b-product-list__item__descr">Кольцо из белого золота с 20 бриллиантами и фианитами</div>
                            <p class="b-product-list__item__price">55 000 р</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-popup-section">
                <div class="b-popup-section__content">
                    <div class="fz14 color-gray mb10 ">
                        <span class="dib w85px">Доставка:</span>
                        <span class="dib">1 000 р</span>
                    </div>
                    <div>
                        <span class="dib w85px">Итого:</span>
                        <span class="dib fz26 ff_cr">55 000 р</span>
                    </div>
                </div>
            </div>
            <div class="b-popup-section">
                <div class="b-popup-section__header">
                    <p class="color-gray fz20 dib">Информация о заказе</p>
                </div>
                <div class="b-popup-section__content ">
                    <div class="b-order-info fz14 mb20">
                        <div class="b-order-info__item clearfix">
                            <div class="w50p f_l">Номер заказа</div>
                            <div class="w50p f_l">123412443</div>
                        </div>
                        <div class="b-order-info__item clearfix">
                            <div class="w50p f_l">Имя и фамилия</div>
                            <div class="w50p f_l">Иван Петров</div>
                        </div>
                        <div class="b-order-info__item clearfix">
                            <div class="w50p f_l">Телефон</div>
                            <div class="w50p f_l">+7 (921) 321-32-12</div>
                        </div>
                        <div class="b-order-info__item clearfix">
                            <div class="w50p f_l">Способ доставки</div>
                            <div class="w50p f_l">До магазина</div>
                        </div>
                        <div class="b-order-info__item clearfix">
                            <div class="w50p f_l">Электронная почта</div>
                            <div class="w50p f_l">info@mail.ru</div>
                        </div>
                        <div class="b-order-info__item clearfix">
                            <div class="w50p f_l">Адрес доставки</div>
                            <div class="w50p f_l">г. Москва ул. 1905 года д.123</div>
                        </div>
                        <div class="b-order-info__item clearfix">
                            <div class="w50p f_l">Дата доставки</div>
                            <div class="w50p f_l">22.09.16</div>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn lh45 ff_cr ttu fz16 bg_y txt_white ">продолжить покупки</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-popup full_w no_bg" data-popup="map_popup">
            <div class="b-map-popup clearfix">
                <div class="clearfix">
                    <div class="f_r w50p">
                        <div class="b-map-content__header">
                            <p class="fz28">Где купить в <a href="#" class="yellow-link">Москве?</a></p>
                            <i class="b-map-popup__close" data-close="popups"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="b-map-popup__section">
                        <div id="map-popup"></div>
                    </div>
                    <div class="b-map-popup__section">
                        <div class="b-map-popup__content">
                            <div class="b-popup-map-content__header">
                                <span class="fz12 ttu mr25 dib">Доступные размеры:</span>
                                <div class="b-size-grid dib">
                                    <div class="b-size-grid__item">
                                        <input class="b-size-grid__checkbox" type="checkbox">
                                        <div class="b-size-grid__item__content">17.5</div>
                                    </div>
                                    <div class="b-size-grid__item">
                                        <input class="b-size-grid__checkbox" type="checkbox">
                                        <div class="b-size-grid__item__content">17</div>
                                    </div>
                                    <div class="b-size-grid__item">
                                        <input class="b-size-grid__checkbox" type="checkbox">
                                        <div class="b-size-grid__item__content">16</div>
                                    </div>
                                    <div class="b-size-grid__item">
                                        <input class="b-size-grid__checkbox" type="checkbox">
                                        <div class="b-size-grid__item__content">18</div>
                                    </div>
                                    <div class="b-size-grid__item">
                                        <input class="b-size-grid__checkbox" type="checkbox">
                                        <div class="b-size-grid__item__content">18.5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-popup-map-content__content">
                                <div class="b-shops-list-wrapper jScrollPane">
                                    <div class="b-shops-list">
                                        <div class="b-shops-list__item clearfix">
                                            <div class="b-shops-list__item__section">
                                                <p class="fz18 mb10">Бронницкий Ювелир</p>
                                                <p class="fz13 color-gray">ул. Вавилова, 3</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <p class="fz22 mb10 lh1-2em">41 000 р</p>
                                                <p class="fz13 color-gray">16 размер в наличии</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <a href="#" class="map-popup-buy-btn"">купить</a>
                                            </div>
                                        </div>
                                        <div class="b-shops-list__item clearfix">
                                            <div class="b-shops-list__item__section">
                                                <p class="fz18 mb10">Бронницкий Ювелир</p>
                                                <p class="fz13 color-gray">ул. Вавилова, 3</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <p class="fz22 mb10 lh1-2em">41 000 р</p>
                                                <p class="fz13 color-gray">16 размер в наличии</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <a href="#" class="map-popup-buy-btn"">купить</a>
                                            </div>
                                        </div>
                                        <div class="b-shops-list__item clearfix">
                                            <div class="b-shops-list__item__section">
                                                <p class="fz18 mb10">Бронницкий Ювелир</p>
                                                <p class="fz13 color-gray">ул. Вавилова, 3</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <p class="fz22 mb10 lh1-2em">41 000 р</p>
                                                <p class="fz13 color-gray">16 размер в наличии</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <a href="#" class="map-popup-buy-btn"">купить</a>
                                            </div>
                                        </div>
                                        <div class="b-shops-list__item clearfix">
                                            <div class="b-shops-list__item__section">
                                                <p class="fz18 mb10">Бронницкий Ювелир</p>
                                                <p class="fz13 color-gray">ул. Вавилова, 3</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <p class="fz22 mb10 lh1-2em">41 000 р</p>
                                                <p class="fz13 color-gray">16 размер в наличии</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <a href="#" class="map-popup-buy-btn"">купить</a>
                                            </div>
                                        </div>
                                        <div class="b-shops-list__item clearfix">
                                            <div class="b-shops-list__item__section">
                                                <p class="fz18 mb10">Бронницкий Ювелир</p>
                                                <p class="fz13 color-gray">ул. Вавилова, 3</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <p class="fz22 mb10 lh1-2em">41 000 р</p>
                                                <p class="fz13 color-gray">16 размер в наличии</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <a href="#" class="map-popup-buy-btn"">купить</a>
                                            </div>
                                        </div>
                                        <div class="b-shops-list__item clearfix">
                                            <div class="b-shops-list__item__section">
                                                <p class="fz18 mb10">Бронницкий Ювелир</p>
                                                <p class="fz13 color-gray">ул. Вавилова, 3</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <p class="fz22 mb10 lh1-2em">41 000 р</p>
                                                <p class="fz13 color-gray">16 размер в наличии</p>
                                            </div>
                                            <div class="b-shops-list__item__section">
                                                <a href="#" class="map-popup-buy-btn"">купить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>






    {% block pageScripts %}
        <script src="https://maps.googleapis.com/maps/api/js"></script>

    {% endblock %}


{% endblock %}

