{% extends "layouts/main_expert.twig" %}

{% block pageScripts %}

{% endblock %}


{% block topPlate %}
    {% include "widgets/top-plate.twig" %}
{% endblock %}

{% block menuBlock %}
    {% include "widgets/b-menu-expert.twig" %}
{% endblock %}

{% block pageContent %}
    <div class="b-expert-page">
        <div class="b-container clearfix">
            <div class="b-expert-page__content">
                <ul class="b-bread-crumbs clearfix mb20">
                    <li class="b-bread-crumbs__item">
                        <a class="b-bread-crumbs__link" href="#">Главная</a>
                    </li>
                    <li class="b-bread-crumbs__item">
                        <a class="b-bread-crumbs__link" href="#">Профиль</a>
                    </li>
                    <li class="b-bread-crumbs__item">
                        <a class="b-bread-crumbs__link" href="#">Анкета</a>
                    </li>
                </ul>


                <div class="b-section-wrapper mobile-no-pb tab-no-pb">
                    <h2 class="fz28-title mb10 tal">Профиль</h2>
                    <div class="b-profile">
                        <nav class="b-profile-nav">
                            <a href="#" class="b-profile-nav__item active">Анкета
                            </a>
                            <a href="#" class="b-profile-nav__item">Бонусы
                            </a>
                            <a href="#" class="b-profile-nav__item">Штрихкоды
                            </a>
                        </nav>
                        <div class="b-questionnaire clearfix">
                            <div class="b-questionnaire-photo">
                                <div class="b-big-avatar">

                                    <div class="b-big-avatar__photo">
                                        <i class="b-big-avatar__delete"></i>
                                        <img src="img/expert_img/bg-avatar-img1.jpg" alt="">
                                    </div>
                                    <p class="upload-profile-ava-button">
                                        <a class="btn lh40 white ff_cr fz15 full_w" href="#">Загрузить фото</a>
                                    </p>
                                </div>
                            </div>
                            <div class="b-questionnaire-data">
                                <div class="mb35">
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left"></div>
                                        <div class="b-questionnaire-data__right">
                                            <p class="fz17 ff_cr">Основные данные</p>
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Фамилия</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Имя</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Отчество</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Дата рождения</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40 dobmask">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Мобильный телефон</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40 inputmask">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Старый пароль</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Новый пароль</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb35">
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left"></div>
                                        <div class="b-questionnaire-data__right">
                                            <p class="fz17 ff_cr">Место работы</p>
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Страна</div>
                                        <div class="b-questionnaire-data__right">
                                            <select class="questionnaire-select">
                                                <option>Выбрать страну</option>
                                                <option>Выбрать страну</option>
                                                <option>Выбрать страну</option>
                                                <option>Выбрать страну</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Регион/область</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Город</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Улица и номер дома</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Название магазина</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Организация</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40">
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left">Должность</div>
                                        <div class="b-questionnaire-data__right">
                                            <input type="text" class="st-input lh40 mb5">
                                            <p class="fz15 color-yellow">Данные о месте работы проходят проверку модератором</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb35">
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left"></div>
                                        <div class="b-questionnaire-data__right">
                                            <p class="fz17 ff_cr">Cоциальные сети</p>
                                        </div>
                                    </div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left lh26">Привяжите нужные вам соцсети</div>
                                        <div class="b-questionnaire-data__right">
                                            <ul class="b-soc-login">
                                                <li class="b-soc-login__item">
                                                    <a href="#" class="b-soc-login__link vk"></a>
                                                </li>
                                                <li class="b-soc-login__item">
                                                    <a href="#" class="b-soc-login__link odn"></a>
                                                </li>
                                                <li class="b-soc-login__item">
                                                    <a href="#" class="b-soc-login__link fb"></a>
                                                </li>
                                                <li class="b-soc-login__item">
                                                    <a href="#" class="b-soc-login__link google"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class='b-questionnaire-data__row clearfix'>
                                        <div class="b-questionnaire-data__left"></div>
                                        <div class="b-questionnaire-data__right">
                                            <p>
                                                <a href="#" class="btn lh45 ff_cr ttu fz14 bg_y txt_white ">СОХРАНИТЬ</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-expert-page__sidebar mobile-hidden">
                <form action="#" class="b-sale-registration mb25">
                    <div class="b-sale-registration__content">
                        <p class="fz24-title tac ttu">Регистрация
                            продажи</p>
                        <div class="mb10 rel">
                            <input placeholder="Введите штрих-код" class="st-input lh40" type="text">
                            <div class="b-clarification abs_input tooltip tooltipstered" data-tooltip-content="#tooltip_content">
                                <span class="b-clarification__icon"></span>
                            </div>
                        </div>
                        <div class="mb10">
                            <input placeholder="Введите артикул" class="st-input lh40" type="text">
                        </div>
                        <div>
                            <button class="btn lh45 ff_cr ttu fz14 bg_y txt_white full_w ">Зарегистрировать</button>
                        </div>
                    </div>
                </form>
                <div class="b-leaders-sells">
                    <div class="fz28-title tal mb10">Лидеры продаж</div>
                    <div class="b-grid-leaders">
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img1.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Алексей Иванов</p>
                                <p class="fz15 color-yellow">1 728 баллов</p>
                            </div>
                            <i class="b-grid-leaders__item__icon gold_medal"></i>
                        </div>
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img2.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Юлия Елизарова</p>
                                <p class="fz15 color-yellow">1 431 баллов</p>
                            </div>
                            <i class="b-grid-leaders__item__icon silver_medal"></i>
                        </div>
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img3.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Александра Константиновская</p>
                                <p class="fz15 color-yellow">1 122 баллов</p>
                            </div>
                            <i class="b-grid-leaders__item__icon bronze_medal"></i>
                        </div>
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img4.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Александра Константиновская</p>
                                <p class="fz15 color-yellow">1 122 баллов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}