{% extends "layouts/main_expert.twig" %}

{% block pageScripts %}

{% endblock %}


{% block topPlate %}
    {% include "widgets/top-plate.twig" %}
{% endblock %}

{% block menuBlock %}
    {% include "widgets/b-menu-expert.twig" %}
{% endblock %}

{% block pageContent %}
    <div class="b-expert-page">
        <div class="b-container clearfix">
            <div class="b-expert-page__content">
                <ul class="b-bread-crumbs mobile-hidden tab-hidden clearfix mb20">
                    <li class="b-bread-crumbs__item">
                        <a class="b-bread-crumbs__link" href="#">Главная</a>
                    </li>
                    <li class="b-bread-crumbs__item">
                        <a class="b-bread-crumbs__link" href="#">Профиль</a>
                    </li>
                    <li class="b-bread-crumbs__item">
                        <a class="b-bread-crumbs__link" href="#">Анкета</a>
                    </li>
                </ul>


                <div class="b-section-wrapper">
                    <h2 class="fz28-title mb10 tal">Магазин</h2>
                    <div class="b-expert-catalog">
                            <div class="b-expert-catalog-header fz15">
                                <div class="b-filter-open pl0 tab-visible mobile-visible hidden" >
                                    <span class="filter-open-btn">
                                        <span class="hamburger pos_l">
                                            <span class="hamburger__line top"></span>
                                            <span class="hamburger__line middle"></span>
                                            <span class="hamburger__line bottom"></span>
                                        </span>
                                        Фильтр
                                    </span>
                                </div>
                                <div class="b-changing tab-hidden mobile-hidden">
                                    <div class="b-changing__item mt0">
                                        <div class="b-filter-select">
                                            <div class="b-filter-select__name">Категория</div>
                                            <div class="b-filter-select__dropdown">
                                                <ul class="b-nesting">
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input type="checkbox" class="filter-checkbox">
                                                                <span class='b-filter-label__text'>Золото</span>
                                                            </label>
                                                        </div>
                                                        <ul class="b-nesting__list">
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Красное</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Желтое</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Белое</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Мультицвет</span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input name="1" type="radio" class="filter-radio">
                                                                <span class='b-filter-label__text'>Платина</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input name="1" type="radio" class="filter-radio">
                                                                <span class='b-filter-label__text'>Серебро</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="b-changing__item mt0">
                                        <div class="b-filter-select">
                                            <div class="b-filter-select__name">Вид</div>
                                            <div class="b-filter-select__dropdown">
                                                <ul class="b-nesting">
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input type="checkbox" class="filter-checkbox">
                                                                <span class='b-filter-label__text'>Золото</span>
                                                            </label>
                                                        </div>
                                                        <ul class="b-nesting__list">
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Красное</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Желтое</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Белое</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Мультицвет</span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input name="1" type="radio" class="filter-radio">
                                                                <span class='b-filter-label__text'>Платина</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input name="1" type="radio" class="filter-radio">
                                                                <span class='b-filter-label__text'>Серебро</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="b-changing__item mt0">
                                        <div class="b-filter-select">
                                            <div class="b-filter-select__name">Материал</div>
                                            <div class="b-filter-select__dropdown">
                                                <ul class="b-nesting">
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input type="checkbox" class="filter-checkbox">
                                                                <span class='b-filter-label__text'>Золото</span>
                                                            </label>
                                                        </div>
                                                        <ul class="b-nesting__list">
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Красное</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Желтое</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Белое</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Мультицвет</span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input name="1" type="radio" class="filter-radio">
                                                                <span class='b-filter-label__text'>Платина</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input name="1" type="radio" class="filter-radio">
                                                                <span class='b-filter-label__text'>Серебро</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="b-changing__item mt0">
                                        <div class="b-filter-select">
                                            <div class="b-filter-select__name">Вставка</div>
                                            <div class="b-filter-select__dropdown">
                                                <ul class="b-nesting">
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input type="checkbox" class="filter-checkbox">
                                                                <span class='b-filter-label__text'>Золото</span>
                                                            </label>
                                                        </div>
                                                        <ul class="b-nesting__list">
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Красное</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Желтое</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Белое</span>
                                                                </label>
                                                            </li>
                                                            <li class="b-nesting__list__item">
                                                                <label class="b-filter-label">
                                                                    <input type="checkbox" class="filter-checkbox">
                                                                    <span class='b-filter-label__text'>Мультицвет</span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input name="1" type="radio" class="filter-radio">
                                                                <span class='b-filter-label__text'>Платина</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class='b-nesting__item'>
                                                        <div class='b-nesting__item-content'>
                                                            <label class="b-filter-label">
                                                                <input name="1" type="radio" class="filter-radio">
                                                                <span class='b-filter-label__text'>Серебро</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <select class='select'>
                                    <option >Сначала популярные</option>
                                    <option >Сначала дешевое</option>
                                    <option >Сначала дорогое</option>
                                    <option >Сначала не популярное</option>
                                </select>
                            </div>

                            <div class="b-expert-catalog-content">
                                <div class="b-sidebar-filter expert-filter">
                                    <div class="b-sidebar-filter__mobile-content">
                                        <ul class="b-selects-list">
                                            <li class="b-selects-list__item clearfix">
                                                <span class="b-selects-list__item__name">Тип товара</span>
                                                <select class="b-selects-list__item__select">
                                                    <option>Значение 1</option>
                                                    <option>Значение 2</option>
                                                    <option>Значение 3</option>
                                                    <option>Значение 4</option>
                                                </select>
                                            </li>
                                            <li class="b-selects-list__item clearfix">
                                                <span class="b-selects-list__item__name">Вид украшения</span>
                                                <select class="b-selects-list__item__select">
                                                    <option>Значение 1</option>
                                                    <option>Значение 2</option>
                                                    <option>Значение 3</option>
                                                    <option>Значение 4</option>
                                                </select>
                                            </li>
                                            <li class="b-selects-list__item clearfix">
                                                <span class="b-selects-list__item__name">Металл</span>
                                                <select class="b-selects-list__item__select">
                                                    <option>Значение 1</option>
                                                    <option>Значение 2</option>
                                                    <option>Значение 3</option>
                                                    <option>Значение 4</option>
                                                </select>
                                            </li>
                                            <li class="b-selects-list__item clearfix">
                                                <span class="b-selects-list__item__name">Вставка</span>
                                                <select class="b-selects-list__item__select">
                                                    <option>Значение 1</option>
                                                    <option>Значение 2</option>
                                                    <option>Значение 3</option>
                                                    <option>Значение 4</option>
                                                </select>
                                            </li>
                                            <li class="b-selects-list__item clearfix">
                                                <span class="b-selects-list__item__name">Цена</span>
                                                <select class="b-selects-list__item__select">
                                                    <option>Значение 1</option>
                                                    <option>Значение 2</option>
                                                    <option>Значение 3</option>
                                                    <option>Значение 4</option>
                                                </select>
                                            </li>
                                            <li class="b-selects-list__item clearfix">
                                                <span class="b-selects-list__item__name">Наличие</span>
                                                <select class="b-selects-list__item__select">
                                                    <option>Значение 1</option>
                                                    <option>Значение 2</option>
                                                    <option>Значение 3</option>
                                                    <option>Значение 4</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="b-products-grid">
                                    {% for i in 1..10 %}
                                        <div class="b-products-grid__item">
                                            <div class="b-products-item js-touch-bl">
                                                <div class="b-products-item__shield-click"></div>
                                                <div class="b-products-item__section">
                                                    <a href="#1" class="b-products-item__preview">
                                                        <div class="b-fade-slider">
                                                            <div class="b-fade-slider__slides">
                                                                <div class="b-fade-slider__slide" data-fade-slide="1">
                                                                    <img src="img/products/product-img1.jpg" alt="">
                                                                </div>
                                                                <div class="b-fade-slider__slide" data-fade-slide="2">
                                                                    <img src="img/products/product-img2.jpg" alt="">
                                                                </div>
                                                                <div class="b-fade-slider__slide active" data-fade-slide="3">
                                                                    <img src="img/products/product-img3.jpg" alt="">
                                                                </div>
                                                                <div class="b-fade-slider__slide" data-fade-slide="4">
                                                                    <img src="img/products/product-img4.jpg" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="b-fade-slider__nav">
                                                                <div class="b-fade-slider__nav-item" data-fade-nav="1"></div>
                                                                <div class="b-fade-slider__nav-item" data-fade-nav="2"></div>
                                                                <div class="b-fade-slider__nav-item active" data-fade-nav="3"></div>
                                                                <div class="b-fade-slider__nav-item" data-fade-nav="4"></div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="b-products-item__cont-wrap">
                                                        <div class="b-products-item__descr">
                                                            <p>Кольцо из серебра с фианитами</p>
                                                        </div>
                                                        <p class="b-products-item__price">899 баллов</p>
                                                    </div>
                                                </div>
                                                <div class="b-products-item__section popup">
                                                    <div class="b-products-item__cont-wrap">
                                                        <p class="mb10">
                                                            <a class="btn lh40 ff_cr ttu fz13 bg_y txt_white full_w" href="#">Заказать</a>
                                                        </p>
                                                        <div>
                                                            <p class="mb10 fz12 color-gray">Выберите размер:</p>
                                                            <ul class="b-product-size">
                                                                <li class="b-product-size__item">
                                                                    <a href="#" class="b-product-size__link">16</a>
                                                                </li>
                                                                <li class="b-product-size__item">
                                                                    <a href="#" class="b-product-size__link">16,5</a>
                                                                </li>
                                                                <li class="b-product-size__item">
                                                                    <a href="#" class="b-product-size__link">17</a>
                                                                </li>
                                                                <li class="b-product-size__item">
                                                                    <a href="#" class="b-product-size__link">17,5</a>
                                                                </li>
                                                                <li class="b-product-size__item">
                                                                    <a href="#" class="b-product-size__link">18</a>
                                                                </li>
                                                                <li class="b-product-size__item">
                                                                    <a href="#" class="b-product-size__link">18,5</a>
                                                                </li>
                                                                <li class="b-product-size__item">
                                                                    <a href="#" class="b-product-size__link">19</a>
                                                                </li>
                                                                <li class="b-product-size__item">
                                                                    <a href="#" class="b-product-size__link">Не знаю размер</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                                {% include 'widgets/b-pagination.twig' %}
                            </div>
                        </div>
                </div>
            </div>
            <div class="b-expert-page__sidebar mobile-hidden">
                <form action="#" class="b-sale-registration mb25">
                    <div class="b-sale-registration__content">
                        <p class="fz24-title tac ttu">Регистрация
                            продажи</p>
                        <div class="mb10 rel">
                            <input placeholder="Введите штрих-код" class="st-input lh40" type="text">
                            <div class="b-clarification abs_input tooltip tooltipstered" data-tooltip-content="#tooltip_content">
                                <span class="b-clarification__icon"></span>
                            </div>
                        </div>
                        <div class="mb10">
                            <input placeholder="Введите артикул" class="st-input lh40" type="text">
                        </div>
                        <div>
                            <button class="btn lh45 ff_cr ttu fz14 bg_y txt_white full_w ">Зарегистрировать</button>
                        </div>
                    </div>
                </form>
                <div class="b-leaders-sells">
                    <div class="fz28-title tal mb10">Лидеры продаж</div>
                    <div class="b-grid-leaders">
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img1.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Алексей Иванов</p>
                                <p class="fz15 color-yellow">1 728 баллов</p>
                            </div>
                            <i class="b-grid-leaders__item__icon gold_medal"></i>
                        </div>
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img2.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Юлия Елизарова</p>
                                <p class="fz15 color-yellow">1 431 баллов</p>
                            </div>
                            <i class="b-grid-leaders__item__icon silver_medal"></i>
                        </div>
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img3.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Александра Константиновская</p>
                                <p class="fz15 color-yellow">1 122 баллов</p>
                            </div>
                            <i class="b-grid-leaders__item__icon bronze_medal"></i>
                        </div>
                        <div class="b-grid-leaders__item">
                            <div class="b-grid-leaders__item__photo">
                                <img src="img/expert_img/avatar-img4.jpg" alt="">
                            </div>
                            <div class="b-grid-leaders__item__content lh1-2em">
                                <p class="fz17 mb5 ">Александра Константиновская</p>
                                <p class="fz15 color-yellow">1 122 баллов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}