<div class="orange-sep tab-hidden mobile-hidden"></div>
<div class="b-footer-wrapper">
    <div class="b-container">
        <div class="b-footer clearfix">
            <div class="b-footer__contacts f_l">
                <div class="b-soc mb30">
                    <p class="fz12 ttu ff_cr mb10">мы в социальных сетях</p>
                    <ul class="b-soc-list clearfix">
                        <li class='b-soc-list__item'>
                            <a class="b-soc-list__link ic3" href="#"></a>
                        </li>
                        <li class='b-soc-list__item'>
                            <a class="b-soc-list__link ic4" href="#"></a>
                        </li>
                        <li class='b-soc-list__item'>
                            <a class="b-soc-list__link ic1" href="#"></a>
                        </li>
                        <li class='b-soc-list__item'>
                            <a class="b-soc-list__link ic2" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="b-phone">
                    <p class="fz12 ttu ff_cr mb10">бесплатный звонок:</p>
                    <p>
                        <a class="b-phone__number" href="tel:88007757715">8-800-775-77-15</a>
                    </p>
                </div>
                <p class="b-footer__copy tab-visible hidden">
                    <span class="ffb">дизайн:</span> <a href="#" class="b-footer__copy-link">foyht&frank</a>
                </p>
            </div>
            <div class="b-footer__nav-wrapper mobile-hidden ovh tar">
                <div class="b-footer-nav tal">
                    <p class='fz12 ttu ff_cr mb10'>О KARATOV</p>
                    <ul class="b-footer-nav-list">
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">О бренде</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Ювелирный завод</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Качество KARATOV</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Контакты</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Где купить</a>
                        </li>
                    </ul>
                </div>
                <div class="b-footer-nav tal">
                    <p class='fz12 ttu ff_cr mb10'>Коллекции</p>
                    <ul class="b-footer-nav-list">
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">KARATOV Change</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Императрица</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">KARATOV Семейные ценности</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">KARATOV Love</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">KARATOV Бесконечность</a>
                        </li>
                    </ul>
                </div>
                <div class="b-footer-nav tal">
                    <p class='fz12 ttu ff_cr mb10'>Партнерам</p>
                    <ul class="b-footer-nav-list">
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Сотрудничество</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Клуб продавцов</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Оптовый интернет-каталог</a>
                        </li>
                    </ul>
                </div>
                <div class="b-footer-nav tal">
                    <p class='fz12 ttu ff_cr mb10'>клуб</p>
                    <ul class="b-footer-nav-list">
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Клуб покупателей</a>
                        </li>
                        <li class="b-footer-nav-list__item">
                            <a class='b-footer-nav-list__link' href="#">Конкурсы</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="tar b-footer__copy tab-hidden mobile-hidden">
                <span class="ffb">дизайн:</span> <a href="#" class="b-footer__copy-link">foyht&frank</a>
            </p>
        </div>
    </div>
</div>
<div class="orange-sep tab-visible mobile-visible"></div>


<div class="b-mobile-menu">
    <div class="b-mobile-menu__address">Москва и м.о.</div>
    <nav class="b-menu">
        <a class="b-menu__item white" href="">о karatov</a>
        <a class="b-menu__item white" href="">ювелирные украшения</a>
        <a class="b-menu__item white" href="">коллекции</a>
        <a class="b-menu__item white" href="">клуб покупателей</a>
        <a class="b-menu__item white" href="">где купить</a>
        <a class="b-menu__item" href="">
            <span class="b-login-icon"></span>
            <span class="dib">Вход</span>
        </a>
        <a class="b-menu__item" href="">
            <span class="b-saved-icon"></span>
            <span class="dib">Сохранено</span>
        </a>
    </nav>
    <div class="b-mobile-menu__contacts">
        <form action="" class="b-search mobile-search">
            <input class="b-search__input" type="text">
            <button class="b-search__submit"></button>
        </form>
        <div class="b-mobile-menu__contacts-section">
            <p class="b-mobile-menu__contacts__title">бесплатный звонок:</p>
            <p class="b-mobile-menu__contacts__phone">
                <a href="tel:8-800-775-77-15">8-800-775-77-15</a>
            </p>
        </div>
        <div class="b-mobile-menu__contacts-section">
            <p class="b-mobile-menu__contacts__title">мы в социальных сетях</p>
            <ul class="b-soc-list clearfix">
                <li class="b-soc-list__item">
                    <a class="b-soc-list__link ic3" href="#"></a>
                </li>
                <li class="b-soc-list__item">
                    <a class="b-soc-list__link ic4" href="#"></a>
                </li>
                <li class="b-soc-list__item">
                    <a class="b-soc-list__link ic1" href="#"></a>
                </li>
                <li class="b-soc-list__item">
                    <a class="b-soc-list__link ic2" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

