<div class="orange-sep tab-hidden mobile-hidden"></div>
<div class="b-footer-wrapper">
    <div class="b-container">
        <div class="b-footer-expert">
            <div class="b-phone">
                <p>
                    <a class="b-phone__number" href="tel:88007757715">8-800-775-77-15</a>
                </p>
                <p class="fz12 ff_cr color-gray">Бесплатный звонок</p>
            </div>
            <nav class="b-footer-exp-nav">
                <a class="b-footer-exp-nav__item" href="#">о сервисе</a>
                <a class="b-footer-exp-nav__item" href="#">правила</a>
                <a class="b-footer-exp-nav__item" href="#">правила конкурсов</a>
                <a class="b-footer-exp-nav__item" href="#">обратная связь</a>
            </nav>
            <div class="b-soc">
                <ul class="b-soc-list clearfix">
                    <li class='b-soc-list__item'>
                        <a class="b-soc-list__link ic3" href="#"></a>
                    </li>
                    <li class='b-soc-list__item'>
                        <a class="b-soc-list__link ic4" href="#"></a>
                    </li>
                    <li class='b-soc-list__item'>
                        <a class="b-soc-list__link ic1" href="#"></a>
                    </li>
                    <li class='b-soc-list__item'>
                        <a class="b-soc-list__link ic2" href="#"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="orange-sep hidden tab-visible mobile-visible"></div>


<div class="b-mobile-menu">
    <div class="b-mobile-menu__address">Москва и м.о.</div>
    <nav class="b-menu">
        <a class="b-menu__item white" href="">о karatov</a>
        <a class="b-menu__item white" href="">ювелирные украшения</a>
        <a class="b-menu__item white" href="">коллекции</a>
        <a class="b-menu__item white" href="">клуб покупателей</a>
        <a class="b-menu__item white" href="">где купить</a>
        <a class="b-menu__item" href="">
            <span class="b-login-icon"></span>
            <span class="dib">Вход</span>
        </a>
        <a class="b-menu__item" href="">
            <span class="b-saved-icon"></span>
            <span class="dib">Сохранено</span>
        </a>
    </nav>
    <div class="b-mobile-menu__contacts">
        <form action="" class="b-search mobile-search">
            <input class="b-search__input" type="text">
            <button class="b-search__submit"></button>
        </form>
        <div class="b-mobile-menu__contacts-section">
            <p class="b-mobile-menu__contacts__title">бесплатный звонок:</p>
            <p class="b-mobile-menu__contacts__phone">
                <a href="tel:8-800-775-77-15">8-800-775-77-15</a>
            </p>
        </div>
        <div class="b-mobile-menu__contacts-section">
            <p class="b-mobile-menu__contacts__title">мы в социальных сетях</p>
            <ul class="b-soc-list clearfix">
                <li class="b-soc-list__item">
                    <a class="b-soc-list__link ic3" href="#"></a>
                </li>
                <li class="b-soc-list__item">
                    <a class="b-soc-list__link ic4" href="#"></a>
                </li>
                <li class="b-soc-list__item">
                    <a class="b-soc-list__link ic1" href="#"></a>
                </li>
                <li class="b-soc-list__item">
                    <a class="b-soc-list__link ic2" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

