<div class="orange-sep header-orange-sep sep-fix mobile-hidden"></div>
<div class="orange-sep mobile-header-orange-sep"></div>
<header class='b-site-header-wrapper'>
    <div class="b-container">
        <div class="b-site-header">
            <div class="b-site-header__contacts">
                <div class="b-site-header__mobile-section">
                    <div class="hamburger mobile-menu-btn">
                        <span class="hamburger__line top"></span>
                        <span class="hamburger__line middle"></span>
                        <span class="hamburger__line bottom"></span>
                    </div>
                    <a href="tel:8-800-775-77-15" class="b-mobile-phone-icon"></a>
                </div>

                <div class="b-header-contacts clearfix">
                    <div class='b-phone header dib'>
                        <div class="b-phone__top">
                            <p class="b-phone__number-line">
                                <a class="b-phone__number" href="tel:88007757715">8-800-775-77-15</a>
                            </p>
                            <p class="b-phone__number-info">бесплатно по России</p>
                        </div>
                        <div class="b-phone__bottom">
                            <ul class="b-list-info fz13 mb20">
                                <li class="b-list-info__item">
                                    <p>Заказ по телефону:</p>
                                    <p class="txt_gray">круглосуточно, 24/7</p>
                                </li>
                                <li class="b-list-info__item">
                                    <p>Обработка заказов:</p>
                                    <p class="txt_gray">ежедневно, 09:00 — 21:00</p>
                                </li>
                            </ul>
                            <p>
                                <span class="btn lh40 white ff_cr ttu fz13">обратный звонок</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <a class="b-logo logo-expert" href="#">
                <img src="img/logo-expert.png" alt="">
            </a>


            <div class="b-site-header__events">
                <div class="b-events-list tal dib">
                    <div class="b-events-list__item">
                        <span class="event-icon login-icon feedback-icon"></span>
                        <span class="dib mobile-hidden">Обратная связь</span>
                    </div>
                    <div class="b-events-list__item">
                        <div class="b-logged there-arrow">
                            <div class="b-logged__photo"><img src="img/expert_img/bg-avatar-img1.jpg" alt="">
                            </div>
                            <div class="b-logged__content">
                                <p class="b-logged__name">Алексей Иванов</p>
                                <p class="b-logged__points">1 728 баллов</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</header>