<div class="orange-sep"></div>
<header class='b-site-header-wrapper'>
    <div class="b-container">
        <div class="b-site-header clearfix">
            <div class="b-site-header__contacts f_l">
                <div class="b-header-contacts clearfix">
                    <div class='b-phone header f_l'>
                        <div class="b-phone__top">
                            <p class="b-phone__number-line">
                                <a class="b-phone__number" href="tel:88007757715">8-800-775-77-15</a>
                            </p>
                            <p class="b-phone__number-info">бесплатно по России</p>
                        </div>
                        <div class="b-phone__bottom">
                            <ul class="b-list-info fz13 mb20">
                                <li class="b-list-info__item">
                                    <p>Заказ по телефону:</p>
                                    <p class="txt_gray">круглосуточно, 24/7</p>
                                </li>
                                <li class="b-list-info__item">
                                    <p>Обработка заказов:</p>
                                    <p class="txt_gray">ежедневно, 09:00 — 21:00</p>
                                </li>
                            </ul>
                            <p>
                                <span class="btn lh40 white ff_cr ttu fz13">обратный звонок</span>
                            </p>
                        </div>
                    </div>
                    <span class="btn-address-open f_l">Москва и м.о.</span>
                </div>
            </div>

            <a class="b-logo dib" href="#">
                <img src="img/logo.jpg" alt="">
            </a>

            <div class="b-site-header__events f_r">
                <div class="b-events-list tal dib ">
                    <div class="b-events-list__item">
                        <div class="b-events-list__item-default">
                            <span class="b-header-login__item-icon login-icon"></span>
                            <span class="b-header-login__item-text">Вход</span>
                        </div>
                    </div>
                    <div class="b-events-list__item b-saved">
                        <div class="b-events-list__item-default b-saved__default">
								<span class="b-header-login__item-icon saved-icon">
									<span class="saved-icon__text">3</span>
								</span>
                            <span class="b-header-login__item-text">Сохранено</span>
                        </div>
                        <div class="b-saved__popup">
                            <ul class="b-header-products">
                                <li class='b-header-products__item'>
                                    <span class="b-header-products__item__delete"></span>
                                    <a href="#">
                                        <div class="b-header-products__item-preview">
                                            <img src="img/products/product-img1.jpg" alt="">
                                        </div>
                                        <div class="b-header-products__item-content">
                                            <p class="b-header-products__item-price">55 000 Р</p>
                                            <p class="b-header-products__item-old-price">18 000 Р</p>
                                        </div>
                                    </a>
                                </li>
                                <li class='b-header-products__item'>
                                    <span class="b-header-products__item__delete"></span>
                                    <a href="#">
                                        <div class="b-header-products__item-preview">
                                            <img src="img/products/product-img1.jpg" alt="">
                                        </div>
                                        <div class="b-header-products__item-content">
                                            <p class="b-header-products__item-price">55 000 Р</p>
                                            <p class="b-header-products__item-old-price">18 000 Р</p>
                                        </div>
                                    </a>
                                </li>
                                <li class='b-header-products__item'>
                                    <span class="b-header-products__item__delete"></span>
                                    <a href="#">
                                        <div class="b-header-products__item-preview">
                                            <img src="img/products/product-img1.jpg" alt="">
                                        </div>
                                        <div class="b-header-products__item-content">
                                            <p class="b-header-products__item-price">55 000 Р</p>
                                            <p class="b-header-products__item-old-price">18 000 Р</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</header>