<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block pageTitle %}{% endblock %} </title>

    <!-- build:css css/vendor.css -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="bower_components/jScrollPane/style/jquery.jscrollpane.css">
    <!-- bower:css -->
    <!-- build:css css/common.css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
</head>
<body>



    <div class="b-site-wrapper">
        <div class='up-site-btn'>
            <span class="up-site-btn__text">Наверх</span>
        </div>
        <div class="b-site-wrapper__content">
            {% block topPlate %}{% endblock %}
            <!-- block header start -->
            {% include "header.twig" %}
            <!-- block header end -->
            {% block menuBlock %}{% endblock %}

            {% block submenuBlock %}{% endblock %}

            <!-- block content start -->
            <div class="b-main-content-wrapper">
                {% block pageContent %}{% endblock %}
            </div>
            <!-- block content end -->

            {% block product_slider %}{% endblock %}

            {% block feedbacks %}{% endblock %}

            {% block seoText %}{% endblock %}

            {% block breadCrumbs %}{% endblock %}

            {% block subscribe %}{% endblock %}

            <!-- block footer start -->
            {% include "footer.twig" %}
            <!-- block footer end -->
        </div>
    </div>

    <!-- Scripts -->
    {% include "scripts.twig" %}
    {% block pageScripts %}{% endblock %}
</body>
</html>