<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block pageTitle %}{% endblock %} </title>

    <!-- build:css css/vendor.css -->
    <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="bower_components/jScrollPane/style/jquery.jscrollpane.css">
    <link rel="stylesheet" href="bower_components/tooltipster/dist/css/tooltipster.bundle.min.css">
    <!-- bower:css -->
    <!-- build:css css/common.css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
</head>
<body>
    <div class="b-site-wrapper">
        <div class='up-site-btn'>
            <span class="up-site-btn__text">Наверх</span>
        </div>
        <div class="b-site-wrapper__content">
            {% block topPlate %}{% endblock %}
            <!-- block header start -->
            {% include "header.twig" %}
            <!-- block header end -->
            {% block menuBlock %}{% endblock %}

            {% block submenuBlock %}{% endblock %}

            <!-- block content start -->
            <div class="b-main-content-wrapper">
                {% block pageContent %}{% endblock %}
            </div>
            <!-- block content end -->

            {% block product_slider %}{% endblock %}

            {% block feedbacks %}{% endblock %}

            {% block seoText %}{% endblock %}

            {% block breadCrumbs %}{% endblock %}

            {% block subscribe %}{% endblock %}

            <!-- block footer start -->
            {% include "footer.twig" %}
            <!-- block footer end -->
        </div>
    </div>


    <div class="b-popups-wrapper">
        <div class="b-site-overlay" data-close="popups"></div>

        <div class="b-popup w700" data-popup="select_city">
            <i class="b-popup__close" data-close="popups"></i>
            <div class="b-popup__header">
                <p class="b-popup__title">выбрать город </p>
            </div>
            <div class="b-popup__content pt20">
                <div class="b-select-region">
                    <ul class="b-country-list mb20">
                        <li class="b-country-list__item active">Россия</li>
                        <li class="b-country-list__item">Казахстан</li>
                    </ul>
                    <div class="mb15">
                        <div class="b-selected-city">Кострома</div>
                    </div>
                    <div class="mb20">
                        <div class="b-search-region rel mb5">
                            <input id="search-region" placeholder="Город" class="input-popup lh50" type="text">
                            <div class="b-clarification abs_input tooltip" data-tooltip-content="#tooltip_content">
                                <span class="b-clarification__icon"></span>
                            </div>
                        </div>
                        <p class="ff_cl fz13 color-gray tal">Например Москва или Санкт-Петербург</p>
                    </div>
                    <div class="b-result-search-city clearfix">
                        <div class="b-result-region">
                            <p class="fz20 ff_cl mb10 color-gray">Регион</p>
                            <div class="mobile-visible">
                                <select class="select border-gray lh50 full_w">
                                    <option>Архангельская область</option>
                                    <option>Архангельская область</option>
                                    <option>Архангельская область</option>
                                    <option>Архангельская область</option>
                                </select>
                            </div>
                            <div class="b-scroll-result h320 jScrollPane mobile-hidden">
                                <ul class="b-st-list">
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                    <li class="b-st-list__item">
                                        <p class="b-st-list__text">Архангельская область</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="b-result-city">
                            <p class="fz20 ff_cl mb10 color-gray">Населенный пункт</p>
                            <div class="mobile-visible">
                                <select class="select border-gray lh50 full_w">
                                    <option>Архангельская область</option>
                                    <option>Архангельская область</option>
                                    <option>Архангельская область</option>
                                    <option>Архангельская область</option>
                                </select>
                            </div>
                            <div class="b-scroll-result h320 jScrollPane mobile-hidden">
                                <div class="b-city-list clearfix">
                                    <ul class="b-city-list__section">
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="b-city-list__section">
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="b-city-list__item">
                                            <span class="b-city-list__item__letter">К</span>
                                            <ul class="b-st-list">
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                                <li class="b-st-list__item">
                                                    <p class="b-st-list__text">Кострома</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    {% include "scripts.twig" %}
    {% block pageScripts %}{% endblock %}

    <div class="tooltip_templates">
        <span id="tooltip_content">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.
        </span>
        <span id="tooltip_content2">Цена не является публичной офертой. Фактическая стоимость украшения в магазине может отличаться от указанной на сайте в зависимости от массы ювелирного изделия и ценовой политики ювелирного магазина.
        </span>
    </div>
</body>
</html>